<table>
    <tr>
        <td>Name: </td>
        <td>
            <input type="text" name="name" tabindex="1" />
        </td>
        <td rowspan="2">
            <img id="captcha" src="fw/PLUGINS/securimage/securimage_show.php" alt="CAPTCHA Image" /><br />
            <input type="text" name="captcha_code" size="10" maxlength="6" tabindex="4" />
                <a href="#"
                    onclick="document.getElementById('captcha').src = '/fw/PLUGINS/securimage/securimage_show.php?' + Math.random(); return false">
                    [ Reload ]
                </a>
        </td>
    </tr>
    <tr>
        <td>Email: </td>
        <td>
            <input type="text" name="email" tabindex="2" />
        </td>
    </tr>
    <tr>
        <td>Role: </td>
        <td>
            <select name="role" id="role"  tabindex="3">
                <option value="coder">Coder</option>
                <option value="activist">Activist</option>
                <option value="journalist">Journalist</option>
                <option value="designer">Designer</option>
            </select>
        </td>
        <td>
            <input type="submit" value="Join this team!" tabindex="5" />
        </td>
    </tr>
</table>