/* CSS Document */
html { background: #f8f7f6; }
body {	width:960px; 	padding:0px 0px 20px 0px;
	margin:5px auto; 	font-size:14px;
	font-family:"Segoe UI", Arial, Helvetica, sans-serif;
	box-shadow: 0px 0px 4px #AAA;
    background: #fff; }

a { text-decoration:none; }

.clear {clear: both;}

/*******************
 ** 	Header 
 *******************/

#header { height:290px; margin:0; padding:0px; display: table-cell; vertical-align: top;}
    #header img {margin: 0px 5px; vertical-align: top; margin-top: 10px;}
        #header img.hackathon    {width: 320px; height: 115px; }
        #header img.sponge       {width: 258px; height:  80px; margin-top: 30px;}
        #header img.baloon_north {width: 335px; height: 215px; }

/*******************
 ** 	Container
 *******************/

.pageCont { margin:25px 0px 0px 0px;
	         padding:1px 10px 10px 10px;
	         background:#FFF; color:#333;
	         font-size:13pt; min-height: 200px; }
    .pageCont .small { color:#369; font-size: .8em; }
    .pageCont p { padding:10px;  margin:0; }
    .pageCont a { color:#555; font-size:14px; font-weight:bold; }
        .pageCont a:hover { color:#C60; }
    .pageCont .page {min-height: 500px;}
    .pageCont .single {width: 100%;}


/*******************
 ** 	Button
 *******************/

#button { height:40px;  padding:10px;  color: #fff; }
    #button > div{ width:160px;  margin:auto;  overflow:visible;  color: #fff; }
#signup { float:left;  width:140px;   height:20px;
	      padding:8px 10px 10px 10px; text-align:center;
	      font-size:16px; border-radius:3px; color:#FFF !important;
          background-image: linear-gradient(top, rgb(16,191,230) 6%, rgb(6,122,199) 53%);
          background-image: -o-linear-gradient(top, rgb(16,191,230) 6%, rgb(6,122,199) 53%);
          background-image: -moz-linear-gradient(top, rgb(16,191,230) 6%, rgb(6,122,199) 53%);
          background-image: -webkit-linear-gradient(top, rgb(16,191,230) 6%, rgb(6,122,199) 53%);
          background-image: -ms-linear-gradient(top, rgb(16,191,230) 6%, rgb(6,122,199) 53%);
          box-shadow: 0px 0px 4px #777; }
    #signup:hover {
        background-image: linear-gradient(bottom, rgb(16,191,230) 6%, rgb(6,122,199) 53%);
        background-image: -o-linear-gradient(bottom, rgb(16,191,230) 6%, rgb(6,122,199) 53%);
        background-image: -ms-linear-gradient(bottom, rgb(16,191,230) 6%, rgb(6,122,199) 53%); 
        background-image: -moz-linear-gradient(bottom, rgb(16,191,230) 6%, rgb(6,122,199) 53%);
        background-image: -webkit-linear-gradient(bottom, rgb(16,191,230) 6%, rgb(6,122,199) 53%);
    }

#submit { display: block;  width: 278px;  height: 171px;
    background: url('/fw/GENERAL/css/img/baloon_south.png') no-repeat;  position: absolute; margin-left: 680px; margin-top: -120px;}

/*******************
 ** 	Footer 
 *******************/

#footer { margin: 5px 15px; padding:30px 0px; background:#FFF; overflow:hidden; }
    #footer .partner { height:80px; padding:5px; margin-top: 50px; border:0px dashed #CCC;
	                   display: table-cell; vertical-align: middle; background:#FFF; }
        #footer .partner a { text-align:center; }
            #footer .partner a img { width:115px; max-height: 120px; }
            #footer .partner a img.kmoz   { width:115px; height: 25px;}
            #footer .partner a img.crji   { width:75px;  height: 41px;}
            #footer .partner a img.geospatial { width:115px; height: 31px;}
            #footer .partner a img.ceata  { width:115px; height: 34px;}
            #footer .partner a img.rosedu { width:115px; height: 25px;}
            #footer .partner a img.apti   { width:100px; height: 45px;}

#license { width:80%; margin:10px 0; height:30px; float:right; color: #555; }
    #license p { font-size: .8em; text-align: right; }
        #license p a { color: inherit; text-decoration: none; border-bottom: 1px dotted #ff8c00; }
#terms-popup { display: none; width: 550px; height: 430px; position: fixed;
               left: 50%; margin-left: -300px; top: 100px; border-radius: 10px;
               opacity: 1; background: #FFFFFF; padding: 25px; border: 1px dotted #dddddd;
               clear: both; box-shadow: -2px -2px 20px 2px #999999; }
.close-button { width: 30px; height: 30px; position: absolute; right: 0px;
                top: 0px; cursor: pointer; background: #cccccc; border-radius: 0px 10px 0px 8px; }
    .close-button p { margin: 8px auto; text-align: center;
                      font-family: sans; font-size: 12px; font-weight: bold; }
.page { width: 950px; }


/********************
 **  Misc styling
 *******************

.project-result {width: 800px; margin-bottom: 20px; padding: 10px; border-radius: 7px; background: pink;}

.project-left {margin-right: 100px; margin-left: 50px;}
.project-right {margin-left: 100px; margin-right: 50px; background: lightgreen;}

.project-result-summary {min-height: 100px; width:100%; background: #fedefe;}
    .project-result-summary .title {display: block; width: 100%; text-align: center; font-weight:bold;}
.project-result-details {
width: 80%; min-height: 100px; margin: 0px auto; padding: 5px 10px; overflow: hidden; background: #DDD;
}
*/
