.inactiveProject {background: rgba(255, 194, 177, 0.43); border-radius: 10px; opacity: .7;}

.project-result {
        width: 850px; margin: 0px auto;
        margin-bottom: 20px; padding: 10px;
        color: #273557;
}

.project-left {
    /*margin-right: 80px; margin-left: 50px;*/
}
.project-right {
    /*margin-left: 80px; margin-right: 50px; */
}

.title {
    display: block; width: 100%; text-align: left; font-weight:bold; font-size: 14pt;
    margin: 20px 0px 0px 30px; padding-bottom: 0px;
}

.top-1 {width: 50px; height: 60px; background: url('/fw/MODELS/projectresults/css/img/medal1.png'); float: right; margin-top: -20px; margin-right: 10px;}
.top-2 {width: 50px; height: 60px; background: url('/fw/MODELS/projectresults/css/img/medal2.png'); float: right; margin-top: -20px; margin-right: 10px;}
.top-3 {width: 50px; height: 60px; background: url('/fw/MODELS/projectresults/css/img/medal3.png'); float: right; margin-top: -20px; margin-right: 10px;}

.resultsummary {
    min-height: 60px; width:100%;
    border-radius: 18px;
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(255,249,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(255,249,221,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(255,249,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(255,249,221,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(255,249,221,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(252,255,244,1) 0%,rgba(255,249,221,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#fff9dd',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 1px 1px 4px 0px #d9d9d9;
            box-shadow: 1px 1px 4px 0px #d9d9d9;

    }
    .resultsummary .description-toggle {
                margin: 0px; margin-top: 30px; padding-left: 10px;
                font-weight:bold; font-style: oblique; font-size: 9pt;
                cursor: pointer; display: block;
    }
    .resultsummary .description {
                /*display: none;*/
                margin-top: 0px; padding-top:0px;
                font-size: 11pt;
    }

.resultsummary .team-leader { display: block; font-weight:bold; color: #273557; margin-left:20px; float:left; }

.resultsummary .click-to-expand { display: block; color: #730000; margin: -10px 10px 0px 0px; text-align: right; }
.resultsummary .click-to-expand i { cursor: pointer;}
.resultsummary .click-to-expand i:hover { color: #000000; }

.project-result-details {
    display: none;
    width: 800px;
    margin: 3px auto; padding: 15px 10px;
    overflow: hidden;
    background: #f8f8f0;



}

.detailsTable {
        width: 500px; border: 0px solid black; display: inline-block;
}
.detailsTable tr {}
.detailsTable tr td {
        padding: 2px 5px; width: 300px;
}
.detailsTable tr td:first-child {
        text-align: right; width: 200px; font-weight:bold;
}
.project-result-details-participants {
        display: inline-block; width: 280px;
    margin: 0px auto; margin-left: 10px;
    vertical-align: top; text-align: center;
}
    .project-result-details-participants td {
            width: 280px;
    }


