<p>
	&nbsp;</p>
<p>
	<span style="font-size: 16px; "><u><strong>Special Guest</strong></u></span></p>
<p>
	&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1" height="183" width="902">
	<tbody>
		<tr>
			<td>
				<strong>&nbsp;Laurian Gridinoc</strong></td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<img alt="" height="154" src="/uploads/images/laurian.jpg" width="138" /></td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				<p class="code">
					Laurian is the co-founder of&nbsp;<a href="https://www.facebook.com/grapefruit.ro">Grapefruit</a>&nbsp;and a<span class="red">&nbsp;</span><a href="http://mozillaopennews.org/fellowships/2011meet.html">2012 Knight-Mozilla Fellow</a>&nbsp;at BBC. You can check out his full profile&nbsp;<a href="http://laurian.gridinoc.name/profile" target="_parent">here</a>.</p>
				<p class="code">
					Laurian will join the hackathon in Bucharest and will get his hands dirty on the 29 of September. He will participate in the brown bag lunch with Sebastian Mondial and will report about the whole Sponge experience for Mozilla.</p>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<p>
	<u><span style="font-size: 16px; "><strong>Jury</strong></span></u></p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1" height="178" width="902">
	<tbody>
		<tr>
			<td>
				<b class="yiv125560115gmail_sendername">Cliff L. Biffle</b></td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<img alt="" class="hoverZoomLink" src="/uploads/images/IMG_1787.JPG" style="width: 150px; height: 151px; " /></td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				<a href="http://cliffle.com/"><span style="color: rgb(0, 0, 255); ">Cliff</span></a>&nbsp;is an engineer at Google, where he works on making the internet more secure for everyone. &nbsp;He&#39;s a proud member of&nbsp;<a href="http://acemonstertoys.org/"><span style="color: rgb(0, 0, 255); ">Ace Monster Toys</span></a>, a hackerspace in Oakland, California.</td>
		</tr>
	</tbody>
</table>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1" height="178" width="902">
	<tbody>
		<tr>
			<td>
				<strong>Justin Arenstein</strong></td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<img alt="" class="hoverZoomLink" height="149" src="/uploads/images/justin.png" width="143" /></td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				Justin Arenstein is an award-winning investigative journalist and digital strategist who works for major media across the continent. &nbsp;He currently helps Google, the African Media Initiative (AMI) and the International Center for Journalists (ICFJ) strengthen watchdog newsrooms by piloting better civic engagement, forensic research and evidence-based reportage. Justin is a member of&nbsp;<a href="http://www.icij.org/journalists/justin-arenstein"><span style="color: rgb(0, 0, 255); ">International Consortium of Investigative Journalists</span></a>.</td>
		</tr>
	</tbody>
</table>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1" height="178" width="902">
	<tbody>
		<tr>
			<td>
				<b class="yiv125560115gmail_sendername">Sebastian Mondial</b></td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<img alt="" class="hoverZoomLink" height="147" src="/uploads/images/sebastian.png" width="143" /></td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				<div>
					Sebastian Mondial is a freelance Data-Journalist and Research-Specialist based Hamburg, Germany.&nbsp;His field of work ranges from regional data reporting to multinational investigative data-projects.&nbsp;Apart from reporting, he passes more then 10 years of data-experience on to other journalists as a coach.&nbsp;</div>
				<div>
					&nbsp;</div>
				<div>
					His data focus starts in the early 2000 working for Google while studying journalism. Noticing that Google (at that time) was not data-aware, he focusses more on how to find and extract data.&nbsp;As a result of a presentation on &quot;programming data robots&quot; at the 2006&nbsp;<a href="http://www.netzwerkrecherche.de"><span style="color: rgb(0, 0, 255); ">german investigative journalism conference</span></a>&nbsp;he is given the chance to team up with colleagues to design and run Germanys first full fledged data unit for the german press agency DPA. After that&nbsp;he worked as a specialist in investigative reporting, as a development editor for Information Management in newsrooms and an expert on security in&nbsp;the exchange of sensitive information.</div>
			</td>
		</tr>
	</tbody>
</table>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1" height="178" width="902">
	<tbody>
		<tr>
			<td>
				<b class="yiv125560115gmail_sendername">Stephen King</b></td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<img alt="" class="hoverZoomLink" height="149" src="/uploads/images/stephen_king.png" width="145" /></td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				<a href="http://www.omidyar.com/team/stephen-king"><span style="color: rgb(0, 0, 255); ">Stephen King</span></a><span style="color: rgb(0, 0, 255); ">&nbsp;</span>is a partner at Omidyar Network, where he leads the organisation&rsquo;s global investment efforts on government transparency and also applies media and technology to create positive social impact. &nbsp;His portfolio includes FrontlineSMS, Global Voices, mySociety, Refugees United, The XYZ Show and Ushahidi. &nbsp;Prior to Omidyar Network, King served as the chief executive of the BBC World Service Trust, where he led a period of sustained growth that included building programmes in more than 40 countries in the developing world.</td>
		</tr>
	</tbody>
</table>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1" height="178" width="902">
	<tbody>
		<tr>
			<td>
				<b class="yiv125560115gmail_sendername">Jonas Rolett</b></td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<img alt="" class="hoverZoomLink" height="150" src="/uploads/images/jonas-rolett-205.jpg" width="150" /></td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				<a href="http://www.soros.org/people/jonas-rolett"><span style="color: rgb(0, 0, 255); ">Jonas Rolett</span></a>&nbsp;is a Regional Director at the Open Society Foundations.&nbsp; He&rsquo;s worked in and on Central and Eastern Europe for 20 years and has a particular interest in transparency, organized crime, elections and civil society.&nbsp; He&rsquo;s working on a book about the transition experience of ordinary Albanians over the past two decades &ndash; anyone with a good story to tell should get in touch.</td>
		</tr>
	</tbody>
</table>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	<span style="font-size: 16px; "><u><strong>Partners</strong></u></span></p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1" height="178" width="902">
	<tbody>
		<tr>
			<td>
				&nbsp;</td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<a href="http://www.fspub.unibuc.ro/fspub/english1/prospective-students/about-us"><img alt="" class="hoverZoomLink" height="150" src="/uploads/images/fspub_sigla.jpg" width="145" /></a></td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				<span lang="EN-GB"><font face="'trebuchet ms', sans-serif"><span style="font-size: small; "><a href="http://www.fspub.unibuc.ro/fspub/english1/prospective-students/about-us"><span style="color: rgb(0, 0, 255); ">Faculty of Political Science</span></a><span style="color: rgb(0, 0, 255); ">&nbsp;</span>at the University of Bucharest</span></font></span></td>
		</tr>
	</tbody>
</table>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1" height="178" width="902">
	<tbody>
		<tr>
			<td>
				&nbsp;</td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<a href="http://www.upb.ro/en/about-us.html"><img alt="" class="hoverZoomLink" height="141" src="/uploads/images/sigla_upb.jpg" style="float: left; " width="150" /></a></td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				University&nbsp;<a href="http://www.upb.ro/en/about-us.html"><span style="color: rgb(0, 0, 255); ">POLITEHNICA</span></a>&nbsp;of Bucharest</td>
		</tr>
	</tbody>
</table>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1" height="178" width="902">
	<tbody>
		<tr>
			<td>
				&nbsp;</td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<img alt="" class="hoverZoomLink" height="147" src="/uploads/images/soros-rom.gif" style="float: left; " width="152" /></td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				<a href="http://soros.ro/en/index.php"><span style="color: rgb(0, 0, 255); ">Soros</span></a>&nbsp;Foundation Romania</td>
		</tr>
	</tbody>
</table>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1" height="178" width="902">
	<tbody>
		<tr>
			<td>
				&nbsp;</td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<img alt="" class="hoverZoomLink" height="142" src="/uploads/images/logo-fjsc1.jpg" style="float: left; " width="150" /></td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				The&nbsp;<a href="http://www.fjsc.ro/en/home"><span style="color: rgb(0, 0, 255); ">School of Journalism and Mass Communication Studies</span></a><span style="color: rgb(0, 0, 255); ">&nbsp;</span>at the University of Bucharest</td>
		</tr>
	</tbody>
</table>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1" height="178" width="902">
	<tbody>
		<tr>
			<td>
				&nbsp;</td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<img alt="" class="hoverZoomLink" height="51" src="/uploads/images/actrive.jpg" style="float: left;" width="151" /></td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				<a href="http://www.activewatch.ro/">ActiveWatch</a></td>
		</tr>
	</tbody>
</table>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	<span style="font-size: 16px; "><u><strong>Sponsors</strong></u></span></p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1" height="183" width="902">
	<tbody>
		<tr>
			<td>
				&nbsp;</td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<a href="http://cyberghostvpn.com/"><img alt="" class="hoverZoomLink" src="/uploads/images/Logo_schwarz.gif" style="float: left; width: 150px; height: 156px; " /></a></td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				<p style="margin: 0px !important; padding: 0px !important; ">
					&nbsp;</p>
				<p style="margin: 0px !important; padding: 0px !important; ">
					<font size="2" style="font-family: arial, helvetica, sans-serif; ">We are excited to announce that&nbsp;<a href="http://cyberghostvpn.com/" rel="nofollow" target="_blank">CyberGhost</a>&nbsp;</font>will support our OMC event&nbsp;<font size="2" style="font-family: arial, helvetica, sans-serif; ">by donatin</font><span style="font-family: 'times new roman', serif; "><font size="2" style="font-family: arial, helvetica, sans-serif; ">g 1 year premium plus subscription for each participant<span style="font-family: monospace; ">.</span></font></span><font size="2" style="font-family: arial, helvetica, sans-serif; ">CyberGhost</font>&nbsp;describes themselves as &quot;<font size="2" style="font-family: arial, helvetica, sans-serif; ">one of the most known VPN supplier worldwide</font>&quot;. To read a more detailed description of the company go&nbsp;<a href="http://www.crunchbase.com/company/cyberghost-srl" rel="nofollow" target="_blank">here</a>. Or have a look at the&nbsp;<a href="http://cyberghostvpn.com/page/family.php" rel="nofollow" target="_blank">CyberGhost family</a>.</p>
			</td>
		</tr>
	</tbody>
</table>
<table border="0" cellpadding="1" cellspacing="1" height="183" width="902">
	<tbody>
		<tr>
			<td>
				&nbsp;</td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<p>
					&nbsp;</p>
				<p>
					<img alt="" height="86" src="/uploads/images/Coca-Cola-Hellenic.jpg" width="168" /></p>
			</td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1" height="178" width="902">
	<tbody>
		<tr>
			<td>
				&nbsp;</td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<img alt="" class="hoverZoomLink" src="/uploads/images/ims.jpg" style="float: left; width: 180px; height: 180px;" /></td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				<a href="http://i-m-s.dk/">International Media Support</a> (IMS) is a non-profit organisation working to support local media in countries affected by armed conflict, human insecurity and political transition. In more than 50 countries worldwide, IMS helps to strengthen professional journalism and ensure that media can operate in challenging circumstances.</td>
		</tr>
	</tbody>
</table>
<p style="margin: 0px !important; padding: 0px !important; ">
	&nbsp;</p>
<table border="0" cellpadding="1" cellspacing="1" height="178" width="902">
	<tbody>
		<tr>
			<td>
				&nbsp;</td>
			<td colspan="2">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 150px; ">
				<img alt="" class="hoverZoomLink" src="/uploads/images/logo80x80.jpg" style="float: left; width: 180px; height: 180px;" /></td>
			<td style="width: 15px; ">
				&nbsp;</td>
			<td style="text-align: left; vertical-align: top; ">
				<a href="www.facebook.com/sixtina.absintherie">Absintherie Sixtina </a></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
