@charset "UTF-8";
ul.MENUhorizontal1{
    list-style: none;
    padding: 10px;
    padding-top: 5px;
    color: #FFFFFF !important;
}

ul.MENUhorizontal1>li {
    display: inline-block;
    color: #FFFFFF;
    margin: 0px 2px;
}

ul.MENUhorizontal1>li a{
    display: inline-block;
    width: 180px;
    height: 35px;
    background: url('/fw/PLUGINS/MENUhorizontal/css/img/button_bk.png') no-repeat;
    color: #434343 !important;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    padding-top: 10px;
}

ul.MENUhorizontal1>li a:hover {
    color: #ffffff !important;
}

ul.MENUhorizontal1>li a.current {
    color: #ffffff !important;
}