/*
 * Author: 960Development
 * Website: http://www.960Development.com/
 */
 
/** CSS Reset http://meyerweb.com/eric/tools/css/reset/ **/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%;	font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;} body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; } 

/** FONT FACE **/

@font-face {
    font-family: 'DroidSansRegular';
    src: url('fonts/droidsans-webfont.eot');
    src: url('fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidsans-webfont.woff') format('woff'),
         url('fonts/droidsans-webfont.ttf') format('truetype'),
         url('fonts/droidsans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSansBold';
    src: url('fonts/droidsans-bold-webfont.eot');
    src: url('fonts/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidsans-bold-webfont.woff') format('woff'),
         url('fonts/droidsans-bold-webfont.ttf') format('truetype'),
         url('fonts/droidsans-bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '232MKSDRoundLightRegular';
    src: url('fonts/232mkrl_-webfont-webfont.eot');
    src: url('fonts/232mkrl_-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/232mkrl_-webfont-webfont.woff') format('woff'),
         url('fonts/232mkrl_-webfont-webfont.ttf') format('truetype'),
         url('fonts/232mkrl_-webfont-webfont.svg#232MKSDRoundLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** Base Body Styles **/
body{ background: url(images/bg.png) repeat; color:#000; font:14px Arial, Helvetica, "Trebuchet MS", sans-serif;}

h1,h2,h3,h4,h5,h6{ font-weight:bold; }
h1{ font-size:30px;}
h2{ font-size:24px;}
h3{ font-size:18px;}
h4{ font-size:14px;}
h5{ font-size:12px;}
h6{ font-size:10px;}

a{ text-decoration:none; }
a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/** The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.  mp/bestclearfix **/
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/** Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page **/
.clearfix { zoom: 1; }

/**  header-wrap  **/
#header-wrap { background: #FFF;}
#header-wrap #header { overflow: hidden; position:relative; width: 980px; height: 85px; margin: 0px auto;}
#header-wrap #header .logo { top:10px; left:0px; }
#header-wrap #header h5 { position:absolute; top:22px; left:155px; padding-left:15px;  border-left: 1px solid #dde1e5; height: 35px; line-height: 35px; font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 14px; color: #b4bec3; font-weight:normal; }
#header-wrap #header h4 { position:absolute; top:22px; left:10px; padding-left:15px;  height: 35px; line-height: 35px; font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 1.5em; color: #b4bec3; font-weight:normal; }

/**   social-nav   **/
#header-wrap #header .social-nav { overflow: hidden; position:absolute; top:30px; right:0px;}
#header-wrap #header .social-nav li { float: left; margin-left: 10px;}
#header-wrap #header .social-nav li a { display:inline-block; width:24px; height:24px;}
#header-wrap #header .social-nav li a.twitter { background: url(images/twitter-sprite.png) no-repeat 0px 0px;}
#header-wrap #header .social-nav li a.facebook { background: url(images/facebook-sprite.png) no-repeat 0px 0px;}
#header-wrap #header .social-nav li a.flickr { background: url(images/flickr-sprite.png) no-repeat 0px 0px;}
#header-wrap #header .social-nav li a.rss { background: url(images/rss-sprite.png) no-repeat 0px 0px;}


/** line   **/
.line{ background:url(images/line.png) repeat-x; height: 2px; margin-bottom: 64px;}


/**  main-wrap   **/
#main-wrap { width: 980px; margin: 0px auto;}


/**  countdown   **/
#main-wrap #count-down { width: 425px; height: 95px;margin: 0px auto 60px; padding: 0 0 0 35px;}
.hasCountdown {}
.countdown_row { background:#333300; margin-bottom: 15px;}
.countdown_show4 {}
.countdown_row  .countdown_section { float: left; width: 65px; height: 68px; padding: 15px 10px 10px 10px; background: url(images/timer-bg.png) no-repeat; margin: 0 20px 0 0; text-align: center;font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 12px; color: #b0b9be; }
.countdown_row  .countdown_section .countdown_amount { display: inline-block; width: 65px; margin-bottom: 5px; font-family: "232MKSDRoundLightRegular",Arial, Helvetica, sans-serif; font-size: 42px; color: #757d81; border-bottom: 1px dashed #ccd2d5;}


/** slider-wrap   **/
#main-wrap #slider-wrap { clear: both;  position: relative; top: 0px;  width: 978px;height: 409px; margin: 0 0 25px 0; background-color:#FFFFFF;  -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;-moz-box-shadow: 1px 1px 1px #ddd;-webkit-box-shadow: 1px 1px 1px #ddd; box-shadow:1px 1px 1px #ddd;}
#main-wrap #slider-wrap .inner-wrap { padding: 0px 40px 0 40px; text-align: center;}
#slider-wrap .inner-wrap .slider {position: relative; width: 898px;}
#slider-wrap .inner-wrap .slider .slide { position: absolute; width: 898px; height:359px; padding-top: 50px;}
#slider-wrap .inner-wrap .slide h1.page-title { font-family: "232MKSDRoundLightRegular", Arial, Helvetica, sans-serif; font-size: 36px; color: #757d81; text-transform: uppercase; margin-bottom: 25px; padding-bottom: 15px;border-bottom: 1px dashed #ccd2d5; }
#slider-wrap .inner-wrap .slide h1.home-title {border-bottom: none; font-family: "232MKSDRoundLightRegular", Arial, Helvetica, sans-serif; font-size: 36px; color: #757d81; text-transform: uppercase; margin-bottom: 25px; }
.colored { color: #41b7d8;}
#slider-wrap .inner-wrap .slide .home-contents {overflow: hidden;}
#slider-wrap .inner-wrap .slide .slide-contents {overflow: hidden;}
#slider-wrap .inner-wrap .slide .home-contents p.launch-intro {font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 13px; color: #a0a8ad; line-height: 21px; padding-bottom: 20px; margin-bottom: 40px; border-bottom: 1px dashed #ccd2d5; }


/**  subscribe   **/
.slide .home-contents #subscribe {width: 520px; margin: 0px auto 70px; position: relative;}
.slide .home-contents #subscribe p { float: left;}
.slide .home-contents #subscribe p.input-wrap { overflow: hidden; background:url(images/email-input-bg.png) no-repeat; width: 369px; height: 43px; padding: 10px 10px 0 10px; margin: 0 10px 0 0; }
.slide .home-contents #subscribe p.input-wrap-email { position:relative;  background:url(images/email-input-bg.png) no-repeat; width: 369px; height: 43px; padding: 10px 10px 0 10px; margin: 0 10px 0 0; }
.slide .home-contents #subscribe p.input-wrap-email input { height: 30px; width: 369px; border: none; outline: none; font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 13px; color: #a0a8ad;line-height: 30px; }
.ie7 .slide .home-contents #subscribe p.input-wrap-email input  { background: none;}
.slide .home-contents #subscribe p.input-wrap-email.error {background: url(images/error-email-bg.png) no-repeat;}
.slide .home-contents #subscribe p.input-wrap input { height: 30px; width: 369px; border: none; outline: none; font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 13px; color: #a0a8ad;line-height: 30px; }
.ie7 .slide .home-contents #subscribe p.input-wrap input { background: none; }
.slide .home-contents #subscribe #submit { background: none; border: none; background:url(images/subscribe.png) no-repeat; width: 109px; height: 53px;}
.slide .home-contents #subscribe #submit:hover,
.slide .home-contents #subscribe #submit:focus {background: url(images/subscribe.png) no-repeat 0px -63px;}
.slide .home-contents #subscribe label.error { position: absolute; width: 300px; height:25px; top:60px; left: 0px; padding: 5px 0 5px 0; color: #F00; text-align:left; font:14px "DroidSansRegular",Arial, Helvetica, sans-serif;}
.slide .home-contents #subscribe .required { color: #006;}
#subscribe #subscribe-loader { display: none; width: 16px; height: 16px; float: left; position: absolute; top:22px; right: -10px;}
#subscribe #thanks{ display: none; color:#41B7D8; margin:10px 0px 0px; font:14px "DroidSansRegular",Arial, Helvetica, sans-serif; }
.slide .home-contents #subscribe #submit:focus {background:url(images/subscribe-hover.png) no-repeat;} 
.slide .home-contents #subscribe #submit:hover { cursor: pointer;} 


/**  slider-nave   **/
#slider-wrap .slider-nave { position:absolute; bottom: 15px; left: 40px; z-index: 10;  overflow: hidden; height: 48px;border-top: 1px dashed #ccd2d5; width: 898px; margin: 0px auto; text-align: center; }
#slider-wrap .slider-nave .nav { overflow: hidden;}
#slider-wrap  .slider-nave .nav li { display: inline; border-right: 1px dashed #ccd2d5; padding: 18px 0 18px 0;  height: 12px;  margin: 0px -2px; }
#slider-wrap .slider-nave .nav li a { display: inline-block; font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 12px; color: #41b7d8; padding: 0px 20px 0 20px;height: 48px; line-height: 48px; text-transform: uppercase;}
#slider-wrap .slider-nave .nav li:hover { background-color: #41b7d8; } 
#slider-wrap  .slider-nave .nav li:focus { background-color: #41b7d8; } 
#slider-wrap .slider-nave .nav li:hover a { color: #FFF;} 
#slider-wrap .slider-nave .nav li:hover a { color: #FFF;}
#slider-wrap .slider-nave .nav li a.activeSlide { background: #41b7d8;color: #FFF;}


/**  slider left ,right buttons   **/
#slider-wrap a.prev-slide{ display: inline-block; position: absolute; top: 190px; left: -20px; background:url(images/left-arrow.png) no-repeat 0px 0px; height: 48px; width: 48px;}
#slider-wrap a.prev-slide:hover, 
#slider-wrap a.prev-slide:focus { background:url(images/left-arrow.png) no-repeat 0px -58px;}
#slider-wrap a.next-slide { display: inline-block;position: absolute; top: 190px; right: -20px; background:url(images/right-arrow.png) no-repeat 0px 0px; height: 48px; width: 48px;}
#slider-wrap a.next-slide:hover, 
#slider-wrap a.next-slide:focus {background:url(images/right-arrow.png) no-repeat 0px -58px;}


/**  #footer   **/ 
#footer { overflow: hidden;font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 13px; color: #a0a8ad; text-align: center;}
#footer p { line-height: 21px;}
#footer a { color: #7c858b;}
#footer a:hover { text-decoration: underline;} 
#footer a:focus { text-decoration: underline;} 


/**  twitter  **/
.slide{ background:#fff; }
.slide .twitter-contents {position: relative; text-align: left;}
.slide .twitter-contents .twitter-ico { position: absolute; top: -25px; left: 80px;}
.slide .twitter-contents h1.page-title { text-align: center; margin-bottom: 60px;}
#twitter_update_list { overflow: hidden; margin: 0 0 0 30px;}
#twitter_update_list li { position: relative; overflow: hidden; float: left; min-height: 107px; width: 172px; padding: 0 22px 0 0; margin: 0 21px 0 0;border-right: 1px dashed #ccd2d5; font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 13px; color: #a0a8ad; line-height: 21px; }
.slide .twitter-contents #twitter_update_list li>a{ color: #a0a8ad;}
.slide .twitter-contents #twitter_update_list li>span a{ color: #41b7d8;}
.slide .twitter-contents #twitter_update_list li .time-ago { position: absolute; bottom: 0px; left: 0px; color: #bfc5c8;}
.slide .twitter-contents #twitter_update_list li .time-ago:hover, .slide .twitter-contents .tweet-list li .time-ago:focus { text-decoration: underline;}


/**  .news updates  **/
.slide .news-updates{ text-align: left;}
.slide .news-updates{}
.slider .slide .news-updates h1.page-title { text-align: center; margin-bottom: 30px;}
.slide .news-updates #news-list { overflow: hidden; width: 898px; position: relative; margin-bottom: 30px; }
.slide .news-updates #news-list .news-slides { overflow: hidden; width: 898px; height: 135px;}
#news-list .news-slides .news {overflow: hidden; float: left; width: 400px; height: 145px; padding: 0 0px 0 30px; margin-left: 15px; border-right: 1px dashed #ccd2d5; font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 13px; color: #a0a8ad; }
#news-list .news-slides .news h2 { margin-bottom: 7px;}
#news-list .news-slides .news h2 a {font-family: "232MKSDRoundLightRegular", Arial, Helvetica, sans-serif; font-size: 24px; color: #525659;}
#news-list .news-slides .news h2:hover, #news-list .news-slides .news h2:hover { text-decoration: underline;} 
#news-list .news-slides .news .date-comments { overflow: hidden;font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 11px; color: #a0a8ad; margin-bottom: 6px;}
#news-list .news-slides .news .date-comments a { color: #eb6251;}
#news-list .news-slides .news p  { float: left;font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 13px; color: #a0a8ad; line-height:21px;}
#news-list .news-slides .news .more {float: left; font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 13px; color: #41b7d8;}


/** news pagination  **/
.news-updates .pagination { clear: both; overflow: hidden; text-align: center;}
.news-updates .pagination a {height:12px; background: url(images/divider.png) no-repeat right center; padding: 0 15px 0 5px; margin: 0 5px 0 0; font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 12px; color: #aeb6be;line-height: 12px; }
.news-updates .pagination a:hover, .news-updates .pagination a:focus {color: #41b7d8;}
.news-updates .pagination a.activeSlide { color: #41b7d8;}


/**  contact-us  **/
.slider .slide .contact-us {text-align: center;font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 12px; color: #b9bec1;}
.slide .contact-us .contact-details { overflow: hidden; float: left; width: 350px; text-align: left; margin: 0 0  0 30px;}
.slide .contact-us .contact-details h2 {font-family: "232MKSDRoundLightRegular", Arial, Helvetica, sans-serif; font-size: 24px; color: #525659; margin-bottom: 20px;  }
.slide .contact-us .contact-details p { margin-bottom: 20px; line-height:20px;}
.slide .contact-us .contact-details .contacts { overflow: hidden;}
.slide .contact-us .contact-details .contacts li { float: left;font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 13px; color: #a0a8ad; line-height: 17px; margin: 0 20px 0 0;}
.slide .contact-us .contact-details .contacts li a {color: #a0a8ad; }
.slide .contact-us .contact-details .contacts li.emailto { background: url(images/envolpe.png) no-repeat left center; height: 17px; padding: 0 0 0 27px; }
.slide .contact-us .contact-details .contacts li.emailto:hover { text-decoration: underline;}
.slide .contact-us .contact-details .contacts li.contact-no { background: url(images/phone.png) no-repeat left center; height: 17px; padding: 0 0 0 27px; margin-right:0px;}
.slide .contact-us .contact-form { float: right; width: 400px; text-align: left; padding: 0 0 0 25px;border-left: 1px dashed #ccd2d5;}
.slide .contact-us .contact-form p .input-container { position: relative; display: inline-block; float: left; background:url(images/input-bg.png) no-repeat; width: 187px; height: 23px; padding-top: 7px;  margin: 0 12px 12px 0; text-align: center;}
.slide .contact-us .contact-form p .input-container input { width: 163px; height: 13px; border: none; outline: none; font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 13px; color: #a0a8ad; line-height: 13px;}
.ie7 .slide .contact-us .contact-form p .input-container input { background: none;}
.slide .contact-us .contact-form p.input-message { position:relative; clear: both; background:url(images/message-input-bg.png) no-repeat; width: 388px; height: 57px; padding-top: 12px; text-align: center; margin-bottom: 10px;}
.slide .contact-us .contact-form p.input-message textarea { display: inline-block; overflow: hidden; width: 364px; height: 45px; border: none; outline: none;  resize: none;font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 13px; color: #a0a8ad; line-height: 13px;}
.ie7 .slide .contact-us .contact-form p.input-message textarea { background: none;}
.slide .contact-us .contact-form p.input-message label.error{ position: absolute; top:75px; }
.slide .contact-us .contact-form p #message-submit { float: right; background: url(images/submit-bg.png) no-repeat; width: 71px; height: 27px; border: none; margin-right: 10px;}
.slide .contact-us .contact-form p #message-submit:hover, .slide .contact-us .contact-form p #message-submit:focus { cursor: pointer;}
.contact-us  label.error{ display:block; color:red; position: absolute; top: -20px; left: 0px; text-align:left;}
.contact-us  label.error { width: 195px; height:15px;   }
.contact-form #message-sent { display: none; }
.contact-form #contact-loader { display: none; width: 16px; height: 16px; float: right; margin: 6px 5px 0 0;  }


/**  Dark (lightbox for single news/update)   **/
#dark { width: 100%; height: 100%; position: fixed; top: 0px; left: 0px;  z-index: 200; background: url(images/dark-bg.png) repeat; display: none;}


/** post  **/
#news-data .post { display:none; position: absolute; z-index: 320; top: 100px; left:50%; margin-left:-352px; width: 645px; padding: 35px 30px 0px 30px;background: #FFFFFF; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;-moz-box-shadow: 0 0 5px #9b9ea5; -webkit-box-shadow:0 0 5px #9b9ea5; box-shadow:0 0 5px #9b9ea5;}
#news-data .post  .close { display: inline-block; float: right; margin: -12px 0 0 0; background:url(images/close.png) no-repeat; width: 38px; height: 38px;}
#news-data .post h2.post-title {font-family: "232MKSDRoundLightRegular", Arial, Helvetica, sans-serif; font-size: 24px; color: #525659; margin-bottom: 5px;  }
#news-data .post .date-comments { overflow: hidden;font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 11px; color: #a0a8ad; margin-bottom: 12px; padding-bottom: 18px;border-bottom: 1px dashed #ccd2d5;}
#news-data .post .date-comments a { color: #eb6251;}
#news-data .post p  { font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 13px; color: #a0a8ad; line-height:21px; margin-bottom: 25px;}
#news-data .post #posts-comments h3#comments {font-family: "232MKSDRoundLightRegular", Arial, Helvetica, sans-serif; font-size: 24px; color: #525659; margin-bottom: 5px;}
#news-data .post .author { overflow: hidden; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px dashed #ccd2d5;}
#news-data .post #posts-comments{ padding: 25px 0 0 0; border-top: 1px dashed #ccd2d5;}
#news-data .post #posts-comments .commentmetadata {font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 13px; color: #626262; line-height: 22px; }
#news-data .post #posts-comments h3#comments {font-family: "232MKSDRoundLightRegular", Arial, Helvetica, sans-serif; font-size: 24px; color: #525659; margin-bottom: 25px;}
#news-data .post #posts-comments .commentmetadata .fn {font-family: "DroidSansBold",Arial, Helvetica, sans-serif; }
#news-data .post #posts-comments .commentmetadata .on { font-family: "DroidSansRegular",Arial, Helvetica, sans-serif; font-size: 12px;color: #a0a8ad;}


