<p>
I agree:
</p><p>
To make my contributions available under the <a href="http://www.gnu.org/licenses/license-list.html#SoftwareLicenses" target="_blank">Free Software license</a> of the project.
This grants any user the freedoms to use, copy, modify and redistribute the software but does not void my copyright.
</p><p>
To make the data available as <a href="http://opendefinition.org">Open Data</a> by exporting a public software API and not restricting
the commercial (re)use of data. To consider licensing the data under one of the following Creative Commons licenses: CC-0, CC-BY and CC-BY-SA.
</p><p>
To propose and follow the project schedule agreed upon with the organizers of OMC.
</p>