<div id='GE_allPages'>
                           <div id='GE_allMenus'>
        <ol class='sortable'>
                       <li id='list_MenuFREE' >
                           <div>Free Items</div>
                           
<ol  id='children_new'>
<li id='list_9'>
                    <div class='single'>Contact</div>
<ol></ol></li></ol>
                       </li> 

                                                                                                          
                    
 <li id='list_Menu1'>
                            <div>Meniu_1 MENUhorizontal</div>
                            
<ol>
<li id='list_1'>
                    <div class='single'>Home</div>
<ol>
<li id='list_2'>
                    <div class='topicForm'>Submit</div>
<ol></ol></li></ol></li>
<li id='list_3'>
                    <div class='single'>FAQ</div>
<ol></ol></li>
<li id='list_4'>
                    <div class='single'>Schedule</div>
<ol></ol></li>
<li id='list_6'>
                    <div class='projectlist'>Entry list</div>
<ol>
<li id='list_5'>
                    <div class='no-edit'>Moderation</div>
<ol></ol></li>
<li id='list_7'>
                    <div class='project'>Entry</div>
<ol></ol></li></ol></li>
<li id='list_8'>
                    <div class='single'>Jury</div>
<ol></ol></li></ol>
                        </li>
                     

</ol></div>
                           <div id='GE_tools'>
                                <div id='indicatiiGE'>
                    <button id='Show_idicatiiGE' class='Tbar_but'>Indicatii</button>
                    <div id='indicatii_GENedit'>
                        <pre style='font-size: 11px; '>
* Edit categorie   - click pe categorie - edit

* Delete categorie - click pe categorie - delete
                   - daca o categorie va fii deletata ,
                     toate subcategoriile si produsele
                     din ea  vor fii deasemenea deletate

* Adauga categorie - scrie numele categoriei
                   - click pe add
                   - trage categoria la locul dorit din lista


* ATENTIE - modificarile nu se vor salva decat dupa
            ce s-a apasat pe save
          - in cazul in care s-a comis vreo gresala se poate iesi
            din General Edit fara ca acea gresala sa fie salvata
                        </pre>
                    </div>
                </div><div class='block_addNew'>
                            <input type='hidden' name='lastID' value='10' />

                            <input type='text'   name='itemName'value='' placeholder='item name'>
                            <span  class='types'>
                                 <select name='type' class='Tbar_but'>
                                    <option class='single'>single</option><option class='projectlist'>projectlist</option><option class='project'>project</option><option class='topic_news'>topic_news</option><option class='topicForm'>topicForm</option>
                                    <option class='none'> none</option>
                                 </select>
                            </span>
                            <input type='button' name='addNew' value='add' onclick='addNewITEM()' class='Tbar_but' />

                            <form action='' method='post'>
                                <input type='submit' name='SaveChanges' value='Save'  class='Tbar_but'/>
                            </form>
                 </div>
                                                                                                          
                                 <div id='GE_pageCONF'>
                                        <div id='GE_ctrlDET'>
                                            <div id='GE_tabs'></div>
                                            <div id='GE_buts'></div>
                                        </div>
                                      <div id='GE_contDET'></div>
                                 </div>
                           </div>

                     </div>oricealtceva <div> updateITEM type =  single <br/>  id = 1 --- OLD ----Home ---NEW ---Home<br/>UPDATE ITEMS set name_en='Home' , type='single'  WHERE id='1'  <br/> <br/><br />  seoITEM type =  single <br/> SEO pe id = 1<br/>UPDATE ITEMS set SEO='a:1:{s:2:"en";a:4:{s:9:"title_tag";s:32:"Open Media Challenge - Home page";s:10:"title_meta";s:40:"Open Media Challenge - Come hack with us";s:16:"description_meta";s:30:"Open Media Challenge Hackathon";s:13:"keywords_meta";s:51:"hackathon, open media, open media challenge, sponge";}}'   WHERE id='1'  <br/> <br/><br /> updateTREE <br/>A fost deletatat tot TREEul cu query-ul DELETE from TREE -- DELETE from MENUS<br /><br/>Meniul Menu1<br/>INSERT into TREE (Pid,Cid,poz) values ('0','1','0')<br/>INSERT into MENUS (id,idM) values ('1','1')<br/>INSERT into TREE (Pid,Cid,poz) values ('1','2','0')<br/>INSERT into TREE (Pid,Cid,poz) values ('0','3','1')<br/>INSERT into MENUS (id,idM) values ('3','1')<br/>INSERT into TREE (Pid,Cid,poz) values ('0','4','2')<br/>INSERT into MENUS (id,idM) values ('4','1')<br/>INSERT into TREE (Pid,Cid,poz) values ('0','6','3')<br/>INSERT into MENUS (id,idM) values ('6','1')<br/>INSERT into TREE (Pid,Cid,poz) values ('6','5','0')<br/>INSERT into TREE (Pid,Cid,poz) values ('6','7','1')<br/>INSERT into TREE (Pid,Cid,poz) values ('0','8','4')<br/>INSERT into MENUS (id,idM) values ('8','1')<br/> <br/></div>