<ul class='MENUhorizontal1' id='menu1_en'> 
<li>  <a href='Home' id='menu1_CLS1_1'> Home </a> </li> 
<li>  <a href='FAQ' id='menu1_CLS1_3'> FAQ </a> </li> 
<li>  <a href='Schedule' id='menu1_CLS1_4'> Schedule </a> </li> 
<li>  <a href='Entry_list' id='menu1_CLS1_6'> Entry list </a> </li> 
<li>  <a href='Jury' id='menu1_CLS1_8'> Jury </a> </li> 
</ul> 
