<script type="text/javascript" >
$(function() {
$(".pw-submit").click(function() {
var password = $("#password").val();
var dataString = 'password='+ password;

if(password=='')
{
$('.success').fadeOut(200).hide();
$('.error').show();
$('.error').fadeOut(3000);
}
else
{
$.ajax({
type: "POST",
url: "changepassword.php",
data: dataString,
//data: "newpass="+ newpass,
success: function(){
$('.success').show();
$('.success').fadeOut(3000);
$('.error').fadeOut(200).hide();
$('#password').val('');
}
});
}
return false;
});
});
</script>

<div id="page-title">
	<img src="[@pmurl]/images/key.png" alt="" /><h1>Change Password</h1>
</div>

<div class="success" style="display:none">[@success]</div>
<div class="error" style="display:none">[@error]</div>

<div id="middle">
	<form name="form" action="" method="post">
		<table cellpadding="0" cellspacing="2" align="center" width="100%">
			<tbody>
				<tr>
					<th>New Password:</th>
						<td><input class="forminput" id="password" name="password" type="password" size="30" /></td>
				</tr>
						
				<tr>
					<td></td>
					<td colspan="2"><input type="submit" value="Submit" name="submit" class="pw-submit" id="sub_button" /></td>
				</tr>

			</tbody>
	 	</table>
	</form>
</div><!--Ends middle-->