<li class="user_type">[@usertype]&nbsp;&nbsp;&nbsp;&nbsp;<a style="float: right;" href="#" id="UTID-[@utID]" class="ut_delete"><img src="[@pmurl]/images/delete.png" alt="Delete" title="Delete" /></a></li>