			<tr>
				<td>[@avatar]</td>
				<td><a href="[@pmurl]/profile/profile.php?username=[@username]">[@username]</a></td>
				<td>[@firstname] [@lastname]</td>
        		<td align="center">[@isonline]</td>
        	</tr>