<div class="news">
	<span class="title"><a href="[@pmurl]/news/read_news.php?id=[@newsid]">[@newstitle]</a></span> - 
	<span class="date">Posted on: [@newsdate]</span>
</div>
<div class="post">
	[@more] &nbsp;&nbsp; <a href="[@pmurl]/news/read_news.php?id=[@newsid]">Read more</a>
</div>