<div id="page-title">
<img src="[@pmurl]/images/address-book-blue.png" alt="" /><h1>[@sitetitle] Directory</h1>
</div>

<div id="middle">
	<div id="directory">
		[@content]
		<!--Display the full navigation in one go-->
		<p>&nbsp;</p>
		<p align="center"></p>
	</div>
</div>