<style type="text/css">	
#flash {margin-left:100px;}
ul#update {margin-top:25px;}
.user_type {height:20px;border-bottom:#DEDEDE dashed 1px;margin-bottom:10px;}
</style>

<div id="page-title">
	<img src="[@pmurl]/images/admin.png" alt="" /><h1>User Types</h1>
</div>

<div id="middle">
	<form name="form" action="" method="post">
		<input type="text" class="forminput" id="user_type" name="user_type" />
		<input type="submit" class="submit" id="sub_button" value="Add User Type">
	</form>
			
	[@content]
<div id="flash"></div>
</div><!--Ends middle-->