.submission_top {
    width: 922px;
    background: #f5f5f5;
    color: #000000;
    padding: 7px;
    border-radius: 10px;
}


.submission_top:hover {
    cursor: pointer;
    background: #ffe24f;
    color: #000000;
}


.submission_top_selected {
    cursor: pointer;
    background: #fffab3;
    color: #000000;
}

.submission_table {
    display: none;
    width: 100%;
}
    .submission_table tr td{
        vertical-align:top;
    }
    .submission_table tr td:first-child {
        border-right: 1px dashed gray;
    }

.separator_small {
    margin:0px;
    width: 20%;
    border-color:#FFF;
}

.approved, .rejected, .unmoderated {
    width: 32px;
    height: 32px;
    background: #F65D20;
    margin: 5px;
    float:right;
    clear: both;
}

.approved {
    font-size: 0pt;
    background: url('img/approved.png');
}
.rejected {
    font-size: 0pt;
    background: url('img/rejected.png');
}
.unmoderated {
    font-size: 0pt;
    background: url('img/unmoderated.png');
}

.description, .built {
    width:  450px;
    height: 300px;
    overflow: auto;
}

.EDtxt, .EDsel {display: inline-block;}

.statusmod {float:right; margin-top:10px;}

input.title {width: 550px;}

p.info {
    position: absolute;
    top:-35px;
    left: 0px;
}

div.pageCont {
    padding-top: 40px;
}