<div>
	<span style="color:#ff0000;"><strong><span style="font-size: 22px;">UPDATE LOCATION:</span></strong></span></div>
<div>
	<br />
	<b id="yui_3_2_0_15_13485658519241007">hack spaces: EG106, EG405, EG207<br />
	workshop: EC102<br />
	lunch: EC101</b></div>
<div>
	&nbsp;</div>
<div>
	<img alt="" src="/GENERAL/js/uploads/images/harta_intrare_poli.jpg" style="width: 883px; height: 358px;" /></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<span style="color:#ff0000;"><strong><span style="font-size: 22px;">UPDATE for participants in the hackathon:</span></strong></span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;"><strong>The IRC channel for the hackathon is #thesponge at irc.freenode.net. Join us!</strong></span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">For all team members: your hack will be taken into account by the jury only if you add on your <a href="http://www.thesponge.eu/teams">team platform </a>under projects and docs a .doc file called<strong> Project_Description</strong> with the following lines:</span></div>
<div>
	<p>
		<span style="font-size:14px;"><strong>- What is your demo url :[add here] </strong></span></p>
	<p>
		<span style="font-size:14px;"><strong>- In a sentence, what is this application about?</strong></span></p>
	<p>
		<span style="font-size:14px;"><strong>- Why do you think it is interesting?</strong></span></p>
	<p>
		<span style="font-size:14px;"><strong>- What do you think could be done with it?</strong></span></p>
	<p>
		<span style="font-size:14px;"><strong>- Who will benefit from it and how?</strong></span></p>
	<p>
		<span style="font-size:14px;"><strong>- Explain the development process:</strong></span></p>
	<p>
		<span style="font-size:14px;">Your hack will be judged by an<a href="http://thesponge.eu/jury"> international jury</a> based on the following criterias:</span></p>
	<div class="ace-line" id="magicdomid383">
		<ul class="list-bullet1">
			<li>
				<span style="font-size:14px;"><span>1. What is the problem that this hack idea is solving?</span></span></li>
		</ul>
	</div>
	<div class="ace-line" id="magicdomid384">
		<ul class="list-none">
			<li>
				<span style="font-size:14px;"><span>2. Can the code be re-used for other projects (i.e. Mapping efforts can be useful for multiple purposes)?</span></span></li>
		</ul>
	</div>
	<div class="ace-line" id="magicdomid385">
		<ul class="list-none">
			<li>
				<span style="font-size:14px;"><span>3. Was the hack idea finalized on time?</span></span></li>
		</ul>
	</div>
	<div class="ace-line" id="magicdomid386">
		<ul class="list-none">
			<li>
				<span style="font-size:14px;"><span>4. Eestatics/ UI</span></span></li>
		</ul>
		<p>
			<span style="font-size:14px;">Each hack will get 1 - 5 points from each member of the jury (5 being max # of points)</span></p>
	</div>
	<p>
		When archiving your application and your description, please do consider the following guidelines:<br />
		<br />
		* README - general information about the project (please specify the copyright holder)<br />
		<br />
		* INSTALL - step by step install tutorial (please specify any software dependencies)<br />
		<br />
		* COPYING - full text of the license for the overall project</p>
	<p>
		<br />
		** check the <a href="http://www.gnu.org/licenses/license-list.html"><span style="color:#0000ff;">Free Software Licence</span></a> list to choose one<br />
		** GNU AGPLv3+ is the recommended Free Software license for on-line software applications<br />
		** beware of the dependencies and conflicts with third-party software components in your project<br />
		** every source file should include a small notice about the license, *especially* if it&#39;s different from the overall project license<br />
		** should the data have a different license than the software, make sure you include the license note in the header of the dump file (SQL file, if it&#39;s a database)<br />
		** CC-BY-SA is the recommended Free Culture/Open Data license for databases (please don&#39;t use -NC or -ND clauses, non-commercial and non-derivatives, as these make the Creative Commons licenses non-free)<br />
		<br />
		* AUTHORS - the list of people who have directly contributed to the software and the database of the project<br />
		<br />
		Optional:<br />
		<br />
		* THANKS - the list of people who have helped the project in other ways (reported bugs, suggested ideas, etc.)<br />
		<br />
		* TODO - a list of bugs to be fixed, future improvements, and new features of the project</p>
	<p>
		<br />
		<br />
		&nbsp;</p>
</div>
<div id="magicdomid2">
	<span style="color:#daa520;"><span style="font-size: 20px;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>OMC FAQ</b></span></span></span></div>
<div id="magicdomid3">
	&nbsp;</div>
<div id="magicdomid4">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>What is OMC?</b></span></span></span></div>
<div id="magicdomid5">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">The&nbsp; Bucharest Open Media Challenge (OMC) is a Knight-Mozilla Open News&nbsp;&nbsp; funded event, facilitating the writing of code leading to </span><span class="author-a-62yz78zwz71ziz88zfxz67zz79zz86zwz77zc">F</span><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">ree </span><span class="author-a-62yz78zwz71ziz88zfxz67zz79zz86zwz77zc">S</span><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">oftware&nbsp;&nbsp; and implementation of design to solve real-world media problems&nbsp;&nbsp; pertaining to collaborative information production &amp; consumption,&nbsp;&nbsp; data aggregation &amp; visualization. This event was initiated by the&nbsp;&nbsp; Sponge Media Innovation Lab for Eastern Europe.&nbsp;</span></span></span></div>
<div id="magicdomid6">
	&nbsp;</div>
<div id="magicdomid7">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>Why this event?</b></span></span></span></div>
<div id="magicdomid8">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">OMC&nbsp; will promote information sharing and interdisciplinary collaboration for the civic good. The goal is to build a diverse community around Open Data.&nbsp;</span></span></span></div>
<div id="magicdomid9">
	&nbsp;</div>
<div id="magicdomid10">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>Who are we?</b></span></span></span></div>
<div id="magicdomid11">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">The local partners are CRJI,&nbsp; geo-spatial.org,&nbsp; Ceata,&nbsp; ROSEdu and&nbsp; ApTI</span></span></span></div>
<div id="magicdomid12">
	&nbsp;</div>
<div id="magicdomid13">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>Who is this event geared for?</b></span></span></span></div>
<div id="magicdomid14">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">Journalists,&nbsp; Programers and Designers and Activists with an appetite for&nbsp; technology and for those who are pure of heart, love hacking up new ideas, creative souls,&nbsp; free-birds, or just want to build&nbsp; something for world peace.</span></span></span></div>
<div id="magicdomid15">
	&nbsp;</div>
<div id="magicdomid16">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>When does OMC take place?</b></span></span></span></div>
<div id="magicdomid17">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">The main event, takes place <strong>29 &amp; 30 Septembrie</strong>, </span><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 i">within the Politechnica University</span><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834"> and has the following structure:&nbsp;</span></span></span></div>
<div id="magicdomid18">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">Sep 29 &ndash; Open Hack day&nbsp;</span></span></span></div>
<div id="magicdomid19">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">Sep 30&ndash; Code Review, International e-Jury and Celebration</span></span></span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">Join us for <strong>29 &amp; 30 September</strong> in Bucharest and register <span class="text"><a class="text" href="http://openmediachallenge.eventbrite.com" span="">here.</a></span><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834"> </span></span></span></div>
<div>
	&nbsp;</div>
<div id="magicdomid20">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span style="color: rgb(0, 0, 255);"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 i"><i>*More details to come</i></span></span></span></span></div>
<div id="magicdomid21">
	&nbsp;</div>
<div id="magicdomid22">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>How do I submit an idea?</b></span></span></span></div>
<div id="magicdomid24">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;">Our submission period ended on Saturday, July 11th.</span></span></div>
<div id="magicdomid25">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">We are hoping to accomodate all proposals, but we&#39;ll be mainly focusing on the ideas that have a hacking team around them</span></span></span></div>
<div id="magicdomid26">
	&nbsp;</div>
<div id="magicdomid27">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>I am not the idea owner, but I want to be part of a hack team (aka working group). How do I sign up for a team?</b></span></span></span></div>
<div id="magicdomid28">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">Go to the &#39;Entry List&#39; Page, choose the topic of your interest and sign up to be part of that team.&nbsp;</span></span></span></div>
<div id="magicdomid30">
	&nbsp;</div>
<div id="magicdomid31">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>Can I enroll for more than one team?</b></span></span></span></div>
<div id="magicdomid32">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">Yes,&nbsp;&nbsp; but you&#39;ll enter the competition with only one. So, if&nbsp; accepted by more than one team leader, you will have to choose your team.</span></span></span></div>
<div id="magicdomid33">
	&nbsp;</div>
<div id="magicdomid34">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>I don&#39;t want to be part of a team but I still want to participate. How do I do this?&nbsp;</b></span></span></span></div>
<div id="magicdomid35">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">Go&nbsp; to the &#39;Entry List&#39; Page, and choose &quot;</span>Unaffiliated participants (join here if you are undecided)&quot; topic.</span></span></div>
<div id="magicdomid36">
	&nbsp;</div>
<div id="magicdomid38">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>Do I have to ph</b></span><span class="author-a-mvclz75zjz73zz70zz65zz72zt5z86zkz75zz84z b"><b>ysically</b></span><span class="author-a-mvclz75zjz73zz70zz65zz72zt5z86zkz75zz84z">&nbsp;</span><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b> participate to this event?</b></span></span></span></div>
<div id="magicdomid39">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">We&nbsp; strongly encourage you to join our event in person. If you can&#39;t make&nbsp; it in person, we&#39;ll look into facilitating an online communication&nbsp; platform for the event (i.e. each team will have an open skype channel)</span></span></span></div>
<div id="magicdomid40">
	&nbsp;</div>
<div id="magicdomid41">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>What is the event&#39;s timeline and flow?</b></span></span></span></div>
<div id="magicdomid42">
	<ul class="list-bullet2">
		<li>
			<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">Public call for hack proposals : Mid June - Mid July</span></span></span></li>
	</ul>
</div>
<div id="magicdomid43">
	<ul class="list-bullet2">
		<li>
			<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">After&nbsp; the public call for hack ideas, the event managers will aggregate and&nbsp; publish the submitted proposals, for participants to enroll.</span></span></span></li>
	</ul>
</div>
<div id="magicdomid44">
	<ul class="list-bullet2">
		<li>
			<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">Participants to form mixed working groups around proposals by the end July;</span><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b> each working group should have a team lead, at least 1 journalist, couple coders and a designer.</b></span></span></span></li>
	</ul>
</div>
<div id="magicdomid46">
	<ul class="list-bullet2">
		<li>
			<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">Participants&nbsp; to start hacking once they are part of a working group; each Team Lead&nbsp; (i.e. idea owner) is in charge of (1) organizing a mini hack day for&nbsp; his&nbsp; own team/project and (2) of coordinating communication within its&nbsp; team&nbsp; and of course seeing that his idea shapes into the best solution.&nbsp; If further help is needed (i.e. facilitating a hack&nbsp; location), the Team&nbsp; Lead can reach out to <span style="color: rgb(0, 0, 255);">omc@thesponge.eu</span>. Hence OMC will be preceded by&nbsp; smaller scale hack days, within the&nbsp; individual working groups,&nbsp; following an open schedule.</span></span></span></li>
	</ul>
</div>
<div id="magicdomid47">
	<ul class="list-bullet2">
		<li>
			<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">The main hackathon takes place <strong>29 &amp; 30 September</strong></span></span></span></li>
	</ul>
</div>
<div id="magicdomid48">
	&nbsp;</div>
<div id="magicdomid49">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>Who is part of the e-jury?</b></span></span></span></div>
<div id="magicdomid50">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">Check out our Jury page.</span></span></span></div>
<div id="magicdomid51">
	&nbsp;</div>
<div id="magicdomid52">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>What does the review process entail?</b></span></span></span></div>
<div id="magicdomid53">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">Each hack topic will be reviewed and scored based on the impact and the problem that it solves. Hack topics will be judged at a team level and not at the individual contributor level.</span></span></span></div>
<div id="magicdomid54">
	&nbsp;</div>
<div id="magicdomid55">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834 b"><b>How are my hacking efforts compensated?</b></span></span></span></div>
<div id="magicdomid56">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">Unfortunately we can&#39;t provide any pecuniary compensation.</span></span></span></div>
<div id="magicdomid57">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">However,&nbsp; your work will be reviewed by &#39;best of breed&#39; international developers&nbsp; and journalists and the winning topic/ team will be socialized within&nbsp; our network.</span> Additionally, <font style="font-family:arial,helvetica,sans-serif">we are excited to announce that <a href="http://cyberghostvpn.com/" target="_blank"><span class="il">CyberGhost</span></a> </font>will support our OMC event <font style="font-family:arial,helvetica,sans-serif">by donating 1 year premium plus subscription for each participant.<span class="il">CyberGhost</span></font> describes themselves as &quot;<font style="font-family:arial,helvetica,sans-serif"><font style="font-family:arial,helvetica,sans-serif">one of the most known VPN supplier worldwide</font></font>&quot;. To read a more detailed description of the company go <a href="http://www.crunchbase.com/company/cyberghost-srl" target="_blank">here</a>. Or have a look at the <span class="il">CyberGhost</span> family at <a href="http://cyberghostvpn.com/page/family.php" rel="nofollow" target="_blank">http://cyberghostvpn.com/page/<wbr />family.php</a></span></span></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div id="magicdomid58">
	<span style="font-size:16px;"><span style="font-family: arial,helvetica,sans-serif;"><span class="author-a-z90zrz65zz78zz87ztz71zz88zz87zgz82zsz86z834">We&#39;ll have a small award ceremony and a little celebration afterwards.</span></span></span></div>
<!-- <a id='submit' href='/submit'></a> -->