<!-- <div class="lock"> </div> -->
<p>
	<span id="cke_bm_100S" style="display: none;">&nbsp;</span>The Open Media Challenge (OMC) is a Knight-Mozilla Open News funded event.The event is initiated by the Sponge Media Innovation Lab for Eastern Europe and is organized by<strong><span style="color:#696969;"> </span><a href="http://crji.org" target="_blank"><span style="color:#696969;">CRJI</span></a></strong>, <strong><a href="http://geo-spatial.org" target="_blank"><span style="color:#696969;">geo-spatial.org</span></a></strong>, <strong><a href="http://ceata.org" target="_blank"><span style="color:#696969;">Ceata</span></a></strong>,<span style="color:#0000ff;"> </span><strong><a href="http://rosedu.org" target="_blank"><span style="color:#696969;">ROSEdu</span></a></strong> and <strong><a href="http://apti.ro" target="_blank"><span id="cke_bm_65S" style="display: none;">&nbsp;</span><span style="color:#696969;">ApTI</span></a></strong><span style="color:#696969;">.</span> <span style="font-size:16px;"><font style="font-family:arial, helvetica, sans-serif;"><a href="http://cyberghostvpn.com/" rel="nofollow" target="_blank">CyberGhost</a> </font>will support our OMC event <font style="font-family:arial, helvetica, sans-serif;">by donatin</font><span style="font-family: times new roman,serif;"><font style="font-family:arial, helvetica, sans-serif;">g 1 year premium plus subscription for each participant<span style="font-family: monospace;">.</span></font></span></span></p>
<p>
	Join us for <strong>29 &amp; 30 September</strong> in Bucharest and register <span class="text"><a class="text" href="http://openmediachallenge.eventbrite.com" span="">here.</a></span></p>
<p>
	OMC facilitates the writing of code leading to free software solving real-world media problems pertaining to data aggregation &amp; visualization. This collaborative effort, focused on Eastern European information collection &amp; dissemination, will be conducted in English language.</p>
<p>
	<br />
	&quot;Coders, Designers, Journalists and Activists who value media &amp; data specific issues, already submitted some valuable proposals, using our <a href="/submit"><span style="font-size:16px;"><span style="color: rgb(0, 0, 255);">submit form</span></span></a>. Please check out our <a href="http://thesponge.eu/proposals"><span style="color:#0000cd;"><strong>proposal entry list</strong></span></a>, enroll in the team of your choice, and help us bring these ideas to life.</p>
<p>
	This collaborative hack initiative, bringing together professionals from different fields of activity (Coders, Designers, Journalists and Activists), is a first in the Eastern European region and we are stoked to see the results!</p>
<p>
	The main event takes place <strong>29 &amp; 30 September</strong> in Bucharest, within the Politechnica University, and includes an Open Hack day, as well as Code Review, International e-Jury and Celebration day. Check out next steps, proposal list, well as other event related news, at <span style="font-size:16px;"><a href="/faq"><span style="color: rgb(0, 0, 255);">FAQ page</span>.</a></span></p>
<p>
	The event schedule will be posted <span style="font-size:16px;"><span style="color: rgb(0, 0, 255);"><a href="/schedule">here<span id="cke_bm_65E" style="display: none;">&nbsp;</span></a>.</span></span><span id="cke_bm_100E" style="display: none;">&nbsp;</span></p>
<p>
	&nbsp;</p>
<!--
<div id="button">
	<div>
		<a id="signup" href="?idT=1&idC=2"> Submit your idea! </a>
	</div>
</div>
--><!-- <a id='submit' href='/submit'></a> --><!-- <a id='submit' href='/submit'></a> --><!-- <a id='submit' href='/submit'></a> --><!-- <a id='submit' href='/submit'></a> --><!-- <a id='submit' href='/submit'></a> -->