<p>
	<span style="font-size:16px;">The main event takes place <strong>29 &amp; 30 September</strong> in Bucharest, within the <strong>Politechnica University. </strong></span></p>
<p>
	<span style="font-size:16px;">Join us and register <span class="text"><a class="text" href="http://openmediachallenge.eventbrite.com" span="">here.</a></span></span></p>
<p>
	<span style="font-size:14px;"><span style="color:#ffa500;"><u><strong>Day 1 (Sep 29)</strong></u></span></span></p>
<div id="magicdomid95">
	<span style="font-size:14px;"><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r">9 AM&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9:30 AM&nbsp; - Welcome morning coffee and a high level overview of OMC</span></span></div>
<div>
	<span style="font-size:14px;"><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r">9:30 AM -&nbsp;&nbsp; 12:30 PM - Hack, Hack, Hack</span></span></div>
<div>
	<span style="font-size:14px;"><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r">12:30 PM - 1:30 PM -&nbsp;&nbsp; Brown Bag lunch with </span><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">Sebastian Mondial, Laurian Gridinoc and Robert Knapp. </span></span></div>
<div id="magicdomid98">
	<span style="font-size:14px;"><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r">1:30 PM&nbsp; -&nbsp;&nbsp; </span><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">9</span><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r">:</span><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">0</span><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r">0 PM -&nbsp; More Hacking</span><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu"> (participants can hack beyond this time, </span>but only the work rendered untill 9PM is considered as part of the challenge)</span></div>
<div>
	&nbsp;</div>
<div>
	<div id="magicdomid106">
		<span style="font-size:14px;"><span style="color:#ff8c00;"><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r b u"><b><u>&nbsp;Day 2 </u></b></span><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r b"><b>(30 Sep)</b></span></span><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r"> </span></span></div>
	<div>
		<span style="font-size:14px;"><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">10</span><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r"> AM -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">10</span><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r">:30 AM - Wake up with picture slides from day 1</span></span></div>
	<div id="magicdomid108">
		<span style="font-size:14px;"><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">10</span><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r">:30 AM -&nbsp; 12:30 PM - Team Leads to present their topics</span></span></div>
	<div id="magicdomid109">
		<span style="font-size:14px;"><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r">12:30 PM - 1:30 PM&nbsp; -&nbsp;&nbsp; Brown Bag lunch with </span><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">Stephen King</span></span></div>
	<div id="magicdomid110">
		<span style="font-size:14px;"><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">1:30 PM -&nbsp;&nbsp;&nbsp; 2:30 PM&nbsp; -&nbsp; Event</span> organizers are presenting the work of their organizaitons</span></div>
	<div id="magicdomid111">
		<span style="font-size:14px;"><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">2</span><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r">:30&nbsp; PM&nbsp; -&nbsp; </span><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">3:00</span><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r"> PM -&nbsp;&nbsp; Award Ceremony - Jury Members to review </span>top 3 winning topics</span></div>
	<div id="magicdomid112">
		<span style="font-size:14px;"><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">3</span><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r">:00 PM -&nbsp;&nbsp;&nbsp; 3</span><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">:30</span><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r"> PM&nbsp; -&nbsp; </span><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">Winners</span></span> <span style="font-size:14px;">showing their hacks</span></div>
	<div id="magicdomid113">
		<span style="font-size:14px;"><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">3:30 PM&nbsp; -&nbsp;&nbsp; 4:00 PM -&nbsp; </span><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r">Closing speach/ </span><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">feedback on the event</span></span></div>
	<div id="magicdomid114">
		<span style="font-size:14px;"><span class="author-a-z80zgdrvbz79zmgz122zgiz70zkz82zu">4</span><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r"> PM - till last customer - Evening Celebration</span></span></div>
	<div id="magicdomid115">
		&nbsp;</div>
	<div id="magicdomid116">
		<span style="font-size:14px;"><strong><span style="color:#ff8c00;"><em><span class="author-a-z90zz87zaz90zz79zz79ziz67zvz87zz79z5jz67z3r">Please note that the schedule may be subject to small changes!</span></em></span></strong></span></div>
</div>
<p>
	&nbsp;</p>
