.project_title {
    margin: 10px 30px;
}

.pageCont .project {
    background: #f5f5f5;
    color: #3a3a3a;
    padding: 7px;
    border-radius: 10px;
    margin: 5px 30px;
}
.pageCont .project:hover {
    background: #fffcef;
    color: #24244f;
}


    .pageCont .project p{
        margin: 0px  !important ;
        padding: 3px !important ;
    }

.left {
    width: 85%;
    float: left;
    clear: both;
}

.right {
    width: 85%;
    float: right;
    clear: both;
}

hr.h_separator {
    clear: both;
    margin:10px auto;
    width: 80%;
    height: 1px;
    background-color:#3a3a3a;
}


.name, .role, .email {display: inline-block;}

.tabs_container {
    clear: both;

    background: #f5f5f5;
    color: #3a3a3a;
    padding: 7px;
    border-radius: 10px;
    margin: 15px 30px;
}

.tab {
    display: inline-block;
    cursor: pointer;
    width: 150px;
    height: 30px;
    background: #99ff99;
    margin: 5px auto;
    text-align: center;
    padding-top: 7px;
    border-radius: 15px 15px 0px 0px;
    border: 1px dotted transparent;
}

.tab:hover {color: #24244f; font-weight: bold; border: 1px dashed gray;}

.tab_content {
    display: block;

    /*background: #fff5ee;*/
    padding: 7px;
}
div.join {display: none;}

.hidden {display: none;}

.membersTable {min-width: 370px;}

    .membersTable .nameM {width: 160px;display: inline-block;font-weight: bold;}
    .membersTable .roleM {width: 110px;display: inline-block;font-weight: bold; font-style: oblique; margin-left: 30px;}
    .membersTable .emailM {width: 290px;display: inline-block; font-style: oblique; margin-left: 20px;}
    .membersTable .teamM {overflow: hidden;

                          width: 170px;
                          display: inline-block;

                          font-style: oblique;
                          margin-left: 10px;}

    .membersTable div.teamM::after{content: "...";}

#bottom_table {width: 100%;}
    #bottom_table td.lastTD {width: 50%; vertical-align: top;}

p.error {width: 100%; display: block; margin: 0px; padding: 0px; text-align: center; color: #8b0000; }
    p.error b {color: #8b0000; font-size: .85em;}
    p.error em {color: #4c0000; font-size: .75em;}

.emailM {width: 100px;}

/*================================================================================*/

.progress {
    margin-top: 30px;
    font-size: 20px;
    color: #94A748;

    width: 910px;
    text-align: right;
    font-weight: bold;
    padding-right: 20px;

}

form.progress{
    padding-right: 40px !important;
    width: 900px;
}










