* {
  margin: 0;
  padding: 0;
}

body {
  font: 12px verdana, arial, helvetica, sans-serif;
  color: black;
  text-align: center;
  line-height: 150%;
}

a {
  color: #3b5998;
  font-weight: bolder;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}

a:hover {
  border: 0;
  text-decoration:underline;
}

h1 {
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  color: #3b5998;
  font-size: 20px;
  border-bottom: 3px double #ccc;
}


/** Form **/

label {
  margin: 3px 0;
  font-size: 90%;
  font-weight: bolder;
  display: block;
}

label.checkbox {
  font-weight: normal;
  display: inline;
}

input, textarea, select {
  border: 1px solid #ccc;
  padding: 3px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  background: white;
  margin-top:3px;
  margin-bottom:3px;
}

input:hover, textarea:hover, select:hover {
  border: 1px solid #3b5998;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid #c0c0c0;
}

input.checkbox {
  border: 0;
  width: auto;
}

#sub_button {
border:3px double #4C7899;
font-size:.9em;
color:#FFF;
background-color:#285577;
}

/** Construction **/

#login, #reset {
  margin: 100px auto 0 auto;
  border: 3px solid #ccc;
  padding: 10px;
  width: 332px;
  text-align: left;
  background:#FFF;
}

/** Login login **/

#loginUsernameDiv, #loginPasswordDiv {
  padding-top: 1px;
}

#loginUsernameDiv {
  float: left;
  width: 170px;
}

* html #loginUsernameDiv {
  margin-top: 1px;
}

#loginPasswordDiv {
  margin-left: 170px;
}

#loginSubmit span, #forgotPasswordSubmit span {
  padding-left: 8px;
  font-size: 11px;
}

* html #loginSubmit span, * html #forgotPasswordSubmit span {
  position: relative;
  top: -4px;
}

/*Registration Forum*/
#register {
  margin: 100px auto 0 auto;
  border: 3px solid #ccc;
  padding: 10px;
  width: 332px;
  text-align: left;
  background:#FFF;
}

.success, .error {
	float:left;
	text-align:center;
	vertical-align: top;
	border-bottom:1px dotted #E7E7E7;
	clear:both;
	color:#CC0000;
}