@charset "UTF-8";

/*TREBUIE SA REDENUMESC */
.SING, .ENT, .allENTS,
.addForm,#EDITform      {position: relative;}

.SING, .ENT {border: 2px #f3f3f3 solid; }

.SING:hover,
.ENT:hover  {border: 2px solid orange; border-radius: 7px;}


/*.TOOLSem {float: right; text-align: right;}*/

.TOOLSem {
    padding-right: 2px;
    padding-top: 2px;
    height: 23px;
    border-radius: 13px;
    background-color: white;
    left: 100%;
    position: absolute;
    margin-top: -10px;
    margin-left: -20px;
    /*margin-right: 0px;*/
   /* float: right;*/
  /*  text-align: center;*/
}
.allENTS > .TOOLSem          {left: 100%; margin-left: -20px; /*margin-top: -10px;*/ }
.SING >.TOOLSem              {left: 100%;  margin-left: -15px;}

.ENT + #EDITform > .TOOLSem  {width: 63px; left: 100%; margin-left: -59px;}
.SING + #EDITform > .TOOLSem {width: 40px; left: 100%; margin-left: -40px;}
.addForm > .TOOLSem          {width: 43px; left: 100%; margin-left: -43px;}




#EDITform input[type="text"]{
    /*padding: 0px;*/
    outline-offset: 0px;

    border: 0px !important;
    outline: 1px inset #ddd;

    background-color:rgba(255,255,255,0.5);
}
#EDITform textarea{
    padding: 0px 0px;
    overflow: hidden !important;
    resize: none !important;

    border: 0px !important;
    outline: 1px inset #ddd;
    background-color:rgba(255,255,255,0.5);
}
 .TOOLSem input[type='button'],
 .TOOLSem input[type=submit]{

     border: 1px inset #DDD;
     font-size: 9px;
     margin: 0px 0px 0px 4px;
     padding: 1px 5px;
     border-radius: 7px;
     box-shadow: 1px 1px 3px 1px rgba(100, 100, 100, 0.4);
     width: 15px;

}


 .TOOLSem input[type='button']:hover,
 .TOOLSem input[type=submit]:hover{ cursor: pointer; }



/*________________________[edit button]________________________________________*/
 .TOOLSem input[type=button][value='e']{ background: #b6fff5;}
 .TOOLSem input[type=button][value='e']:hover{ background:  #00ffff;}

/*_______________________[ save edit]__________________________________________*/
 .TOOLSem input[type=submit][value='s']{ background: #b5ff83;}
 .TOOLSem input[type=submit][value='s']:hover{ background:  #93ff23;}

/*_______________________[ save edit]__________________________________________*/
 .TOOLSem input[type=button][value='x']{ background: #ffbf64;}
 .TOOLSem input[type=button][value='x']:hover{ background:  #ff9b00;}





/*___________________________________________________________________________*/
.hotTitle {font-size: 15pt; font-weight: bold;}

table.cke_editor tr:last-child {display: none;}
span.cke_skin_kama {padding: 0px !important;}
.cke_skin_kama .cke_wrapper {padding: 1px !important;}




/*________________________[TOOL TIP]________________________________________*/
.TOOLSem span {position: relative;}

.TOOLSem span i {
    box-shadow: 2px -1px 4px 0px #BBB;
    line-height: 14px;
    text-align: center;
    visibility: hidden;
    border: 1px outset #f5f5f5;
    bottom: 60px;
    left: 50%;
    margin-left: -25px;
    opacity: 0;
    padding: 4px 10px;
    position: absolute;
    width: 30px;
    z-index: 99;


    font-size: 12px;
    background-color: #fff;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;

    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.TOOLSem span input[name='EDIT']+i {
    margin-left: -45px;
    width: 70px;
}
.TOOLSem span input[name^='delete']+i {
    margin-left: -29px;
    width: 40px;
}

.TOOLSem input[type='submit']:hover + i,
.TOOLSem input[type='button']:hover + i{
    bottom:27px;
    opacity:0.95;
    visibility:visible;
}

.TOOLSem i::before, .TOOLSem  i::after {
    border-bottom: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #444;
    bottom: -7px;
    content: "";
    left: 50%;
    margin-left: -6px;
    position: absolute;
    z-index: 100;
}
/*============================================ [EXTRAS] =============================================== */

#EXTRAS_display
{
    position: absolute;
    top: 490px;
    left: 33%;
    width: 600px;
    min-height: 300px;
    background: white;
    border: 1px inset white;
    border-radius: 7px;
    box-shadow: 0px 4px 10px 2px rgba(100, 100, 100, 0.5);
}
    #EXTRAS_display > p {
        height: 35px;
        box-shadow: 0px 1px 7px #DDD,inset 0px -2px 2px white, inset 0px -2px 2px #CCC;
        border-bottom: 1px solid #DDD;
        text-align: right;
        margin: 0px;
        /*margin-right:-10px; */}

    #EXTRAS_display input[name='closeEXTRAS']
    {
        margin: 4px 4px;
        height: 25px;
        width: 25px;
        background: #EEE;
        border: 1px outset #DDD;
        border-radius: 0px 6px 0px 6px;

        cursor: pointer;
    }


/*===================================== [ EDpic formular ] ===================================================*/
#formUPL
{
    width: 200px;
    margin-top: -20px;
    height: 18px;
    padding: 0px;
    position: absolute;
    margin-left: 6px;
    top: 100%;
    left: 0%;
  }

 #formUPL > input {
     margin-right: 4px;
     border: 1px outset #CCC;
     border-radius: 4px;
     padding: 3px 2px;
     font-size: 10px;
 }
#formUPL > input[type='file']
{
    background: white;
    padding: 0px;
}
/*
 .content{position: relative;}*/

/*___________________________[EXCEPTII !!!]________________________________________*/

div.pictures {
    border-top: 2px white solid !important;
    border-left: 2px white solid !important;
}
div.pictures:hover {
    border-top: 2px #ff4500 solid !important;
    border-left: 2px #ff4500 solid !important;
}
/*===============================[custom]=====================================*/
input[type='button'][name='exitEditMODE'] {display: none !important;}

.membersTable > .TOOLSem {display: none;}