.submission_top {
    width: 922px;
    background: #f5f5f5;
    color: #000000;
    padding: 7px;
    border-radius: 10px;
    position: relative;
}
.submission_top:hover {
    cursor: pointer;
    background: #ffe24f;
    color: #000000;
}

    .good {}
    .bad  {
        background: #cccccc;
        color: #8b0000;
    }
    .smallnotice {color: #8b0000; font-size: .7em; float: right; margin: -10px 10px auto auto; font-style: oblique;}

    .submission_top .icon{
        width: 32px;
        height:32px;
        margin-top: -16px;
        margin-right: 10px;
        display: block;
        float: right;
        z-index: 100;
    }
        .submission_top .progressPROC {
            box-shadow: 2px 1px white;
            font-weight: bold;
            color: #888;
            padding: 3px 6px;
            border-radius: 6px;
            background-color: #DDD;
            float: right;
            z-index: 100;
            margin-top: -16px;
            font-size: 20px;
            margin-right: 12px;
            height: 24px;
            display: block;
        }


        .submission_top .preview {
            /*background: url('img/adown.png');*/
            background: url('/fw/MODELS/projectlist/css/img/plus.png') no-repeat;
        }
        .submission_top .preview_up {
            /*background: url('img/aup.png');*/
            background: url('/fw/MODELS/projectlist/css/img/minus.png') no-repeat;
        }
        .submission_top .details {
            /*background: url('img/aright.png');*/
            background: url('/fw/MODELS/projectlist/css/img/raquo.png') no-repeat;
        }


.submission_top_selected {
    cursor: pointer;
    background: #fffab3;
    color: #000000;
}
.submission_table {
    display: none;
    width: 100%;
}
    .submission_table tr td{
        vertical-align:top;
    }
    .submission_table tr td:first-child {
        border-right: 1px dashed #acacac;
    }

hr.separator_small {
    margin:0px;
    width: 20%;
    border-color:#FFF;
}

.approved, .rejected, .unmoderated {
    width: 32px;
    height: 32px;
    background: #F65D20;
    margin: 5px;
    float:right;
    clear: both;
}

.description, .built {
    width:  450px;
    height: 300px;
    overflow: auto;
}

.name, .role, .email {display: inline-block;}

.statusmod {float:right; margin-top:10px;}

p.subtitle {margin: 0px; padding: 0px; line-height: normal; font-size: 1em; font-weight: bold; }

input.title {width: 550px;}

.projectinfo {font-weight: bold; font-style: oblique;}

hr.h_separator {border: 0px; color: #acacac; border-color: #acacac; background-color: transparent; height: 1px;}

.membercount {font-style: oblique; font-size: .8em; color: #333; position: absolute; bottom: 15px; right: 175px;}
.membercount b {color: #555;}