@charset "UTF-8";
/*======================================================================================================*/
.admNews
{
    padding-top: 25px;
}

.newsArt {

    width: 870px;
    padding: 7px 10px;
    margin: 15px auto;
    background-color: #EEE;
    border-radius: 7px;
}

.artTitle {
    background-color: #ADD145 !important;
    width: 850px;
    margin-bottom: 10px;
    padding: 0px 10px;
    border-radius: 5px;
    display: block;
    font-family: verdana, sans, arial;
    font-size: 17px;
    /*font-weight: bold;*/

}


form .artContent, form .artContentN
{

    width: 850px;
    height: 200px;
}


.artContent,.artContentN{

    font-size: 13px;
    width: 850px;
    min-height: 50px;
}

.newsArt p{padding: 0px !important;}
