/**
 * ProjectPress site stylesheet
 *
 * @package ProjectPress
 * @since 2.0
 */

* {
margin:0;
padding:0;
}

body {
background-color: #FFF;
font-size:.9em;
font-family:'lucida grande', tahoma, verdana, arial, sans-serif;
}

#sub_button{
border:3px double #4C7899;
font-size:.9em;
color:#FFF;
background-color:#5B74A8;
padding:1px 8px 1px 8px;
text-decoration:none;
}

.sub_button{
border:3px double #4C7899;
font-size:.9em;
color:#FFF;
background-color:#5B74A8;
padding:1px 8px 1px 8px;
text-decoration:none;
}

img {border:none;}
textarea {overflow:auto !important;}

.success {

	background-color:#FFFFCC;
	float:left;
	font-size:.85em;
	text-align:center;
	vertical-align: top;
	padding:10px 0 10px 0;
	margin-top:8px;
	margin-bottom:8px;
	width:100%;
	border:1px solid #FFEA92;
	clear:both;
	color:#333;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	
}

.error {

	background-color:#FFFFCC;
	float:left;
	font-size:.85em;
	text-align:center;
	vertical-align: top;
	padding:10px 0 10px 0;
	margin-top:8px;
	margin-bottom:8px;
	width:100%;
	border:1px solid #FFEA92;
	clear:both;
	color:#8B0000;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	
}

#success {

	background-color:#FFFFCC;
	float:left;
	font-size:.85em;
	text-align:center;
	vertical-align: top;
	padding:10px 0 10px 0;
	margin-top:8px;
	margin-bottom:8px;
	width:775px;
	border:1px solid #FFEA92;
	color:#333;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}

/* Global Site Link */
a:link, a:active, a:visited {color:#3b5998; text-decoration:none;}
a:hover {text-decoration:underline;}


/* Site Header Section Begins */
#headerWrapper {
float:left;
clear:both;
width:100%;
background:#ebce4c;
height:3em;
}

#headerContainer {
margin:0 auto;
width:980px;
}

#headerLeft {
float:left;
width:250px;
padding:12px 0 12px 4px;
}

#headerLeft span#site-title {
font-size:1.2em;
font-weight:bold;
color:#333;
}

#headerRight {
float:left;
width:150px;
padding:10px 0 12px 516px;
}

#headerRight input {
height:18px;
width:180px;
}


/* Site's Wrapper */
#mainWrapper {
float:left;
clear:both;
width:100%;
margin-top:1.5em;
}

#mainContainer {
width:67em;
margin:0 auto;
height:20em;
}


/* Left Sidebar and Navigation */
#mainLeftSidebar {
float:left;
padding-right:.2em;
width:11.8em;
}

#mainLeftSidebar #avatar {
float:left;
width:4em;
}

#mainLeftSidebar #profile {
float:left;
width:8em;
font-size:.78em;
}

#mainLeftSidebar #profile #name {
font-weight:bold;
}

#mainLeftSidebar #profile li {
list-style:none;
margin:0;
padding:0;
padding-bottom:.3em;
}

#mainLeftSidebar .leftNavigation {
float:left;
width:15em;
padding-top:.7em;
font-size:.75em;
}

#mainLeftSidebar .leftNavigation .active_link {
background:#BCD2EE;
font-weight:bold;
}

#mainLeftSidebar .leftNavigation li a {
color:#3D3D3D;
}

#mainLeftSidebar .leftNavigation li a:hover {
text-decoration:none;
}

#mainLeftSidebar .break {
float:left;
clear:both;
width:11.5em;
border-bottom:.1em solid #E6E6FA;
padding-top:1em;
margin-bottom:1em;
}


#mainLeftSidebar .leftNavigation img {
padding-right:.5em;
float:left;
vertical-align:top;
margin-top:.5em;
width:14px;
height:14px;
}

#mainLeftSidebar .leftNavigation li {
list-style:none;
margin:0;
padding:0;
}

#mainLeftSidebar .leftNavigation li a {
display:block;
padding:.5em 0;
}

#mainLeftSidebar .leftNavigation a:hover {
text-decoration:none;
background:#E6E6FA;
}


/* Site Middle Section */
#mainContent {
float:left;
border:.1em solid #c0c0c0;
width:53.8em;
min-height:100%;
}

#mainLeft {
float:left;
width:515px;
padding:0 1em;
}

#mainLeft #page-title h1 {
font-size:1.1em;
color:#003366;
}

#mainLeft #header-link a {
background: #222 url("../../images/alert-overlay.png") repeat-x;
display: inline-block;
padding: 3px 5px 3px;
color: #FFFFFF !important;
text-decoration: none;
font-size:.7em;
font-weight: bold;
line-height: 1;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px #999;
-webkit-box-shadow: 0 1px 3px #999;
text-shadow: 0 -1px 1px #222;
border-bottom: 1px solid #222;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
position: relative;
cursor: pointer;
}

#mainLeft #header-link a:active {
	-webkit-box-shadow: inset 0 1px 3px #999;
    -moz-box-shadow: inset 0 1px 3px #999;
    box-shadow: inset 0 1px 3px #999;
    background: #222;
    border: solid 1px #222;
}

#mainLeft #page-title {
float:left;
clear:both;
margin:1em 0;
width:36em;
}

#mainLeft #page-title img {
padding-right:.9em;
float:left;
}

#mainLeft #wall-input {
float:left;
clear:both;
width:510px;
}

#mainLeft #wall-input textarea {
border:.1em solid #c0c0c0;
width:478px;
min-height:50px;
margin:0 8px 8px 8px;
padding:8px;
}

#mainLeft .wall {
float:left;
width:500px
margin:1em 0;
vertical-align:top;
	padding-bottom:12px;
	padding-top:10px;
    /*border-bottom: #999999 solid 1px;*/
}

#mainLeft .wall .avatar {
float:left;
width:4em;
padding-right:.1em;
}

#mainLeft .wall .wall-comments {
float:left;
width:36em;
font-size:.8em;
color:#333;
}

#mainLeft .wall .wall-comments a {
font-weight:bold;
}

#mainLeft .break {
float:left;
clear:both;
width:36em;
border-bottom:.1em solid #E6E6FA;
padding-top:.5em;
margin-bottom:.6em;
}

#mainLeft .news {
margin:0;
padding-bottom:.3em;
}

#mainLeft .news span.title {
font-size:1.1em !important;
font-weight:bold;
}

#mainLeft .post, #mainLeft .sermons {
margin:0;
padding-bottom:10px;
font-size:1.1em;
}

#mainLeft .post p {
margin-left:0;
padding-left:0;
}



#mainRightSidebar {
float:left;
width:14.5em;
padding-right:.5em;
padding-left:.5em;
margin-top:3.2em;
}

#mainRightSidebar #avatar {
float:left;
clear:both;
width:210px;
text-align:center;
}

#mainRightSidebar #status {
float:left;
clear:both;
width:210px;
text-align:center;
vertical-align:middle;
padding:10px 0;
}

#mainRightSidebar #profile-info {
float:left;
clear:both;
width:210px;
font-size:.78em;
margin:15px 0;
color:#808080;
}

#mainRightSidebar #profile-info li {
list-style:none;
margin:0;
text-align:center;
}

#events, #news, #forum, #group-lead, #projLeader {
float:left;
clear:both;
border-top:.1em solid #666;
width:210px;
font-size:.7em;
color:#808080;
}

#projLeader {padding-bottom:5px;}
#news, #forum {margin-top:1.1em;}

#mainRightSidebar .barTitle {
float:left;
font-weight:bold;
color:#383838;
width:100px;
margin-top:.3em;
margin-bottom:.3em;
margin-left:5px;
}

#mainRightSidebar .barLink {
float:left;
width:40px;
margin-left:65px;
margin-top:.3em;
margin-bottom:.3em;
}

#mainRightSidebar .break {
float:left;
clear:both;
width:210px;
border-bottom:.1em solid #E6E6FA;
margin-bottom:.5em;
}

#mainRightSidebar .bar {
background:#F2F2F2;
height:19px;
}

#mainRightSidebar img {
padding-right:.4em;
vertical-align:bottom;
}

#events li, #news li, #forum li {
list-style:none;
display:block;
padding:.2em 0 .4em 0;
}

fieldset {
border:none;
}




/* Site's Footer */
#footerWrapper {
width:100%;
float:left;
clear:both;
margin:0;
padding:.5em 0 2em 0;
color:#666;
font-size:.75em;
}

#footerContainer {
margin:0 auto;
width:980px;
}

#footerContainer li {
display:inline;
padding-right:1px;
}

#footer {
float:left;
clear:both;
width:980px;
padding:12px 0 12px 4px;
text-align:center;
}

/* Wall Box */
#wall-input #content
{
width:450px; height:30px;
border:solid 2px #006699;
font-size:14px;
}
#wall-input #button
{
float:right;
border:3px double #3b5998;
font-size:.9em;
color:#FFF;
background-color:#3b5998;
padding:.3em;
}
#wall-input #cancel
{
float:right;
border:3px double #3b5998;
font-size:.9em;
color:#FFF;
background-color:#3b5998;
padding:.3em;
margin-left:10px;
}
#wall-input #button_block
{
display:none;
}





.label { background: #FFCC33; padding: 5px; font: bold 10px Arial, sans-serif; position: absolute; top: 0;left: 0; }
.form { padding: 20px 20px 10px; background: #E0F4F8; width: 580px; overflow: hidden; }
.form p { margin: 0 0 10px 0; float:left; clear:both; display: block; }
.form label { font: bold 0.9em Helvetica, Arial, sans-serif; color: #000000; padding: 0 0 0 5px;}
.form .w { float: left; clear: both; padding: 5px 5px 0; background: #D7EBEF; font: bold 0.8em Helvetica, Arial, sans-serif; color: #000000; overflow: hidden; }
.form .w span { padding: 0 0 5px; float:left; }
.form .input { border: 1px solid #A5C2C8; line-height: 20px; padding: 5px 5px 5px 5px; margin: 0 0 5px 0; width: 537px; font: bold 16px Helvetiva, Arial, sans-serif; color:#000000 }
.form .w label { padding:0; }

#bottomMoreButton{text-align:center; font-size:.9em; background:#ECEFF5; width:470px; height:18px; padding:5px 10px 5px 20px; color:#3B5998}

#bottomMoreButton a{ color:#3B5998}

.button, .button:visited {
	display: inline-block; 
	color: #fff; 
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	cursor: pointer
}

.small.button, .small.button:visited 		{ font-size: 14px;
											  }
#wall-input .small.button {
margin: -2px 9px -2px 0;
}
.button:hover { background-color: #111; color: #fff; }
.button:active { top: 1px; }
.button, .button:visited,

.blue	 { background-color: #E0E0E0;color:#fff; font-size:14px;  cursor:auto; padding:5px; width:310px; }


.Detail.button, .Detail.button:visited{ 
												font-weight:bold;
												background-color:#5B74A8;
												font-size: 12px;
												border-color:#29447E #29447E #1A356E;
												text-align:center;
												font-weight:bold;
											    color:#FFFFFF;
												cursor:pointer;
												width:43px;}
.comment.button, .comment.button:visited{ 
												font-weight:bold;
												background-color:#5B74A8;
												font-size: 12px;
												border-color:#29447E #29447E #1A356E;
												text-align:center;
												margin-bottom:3px;
												
												margin-right:4px;										
												font-weight:bold;
											    color:#FFFFFF;
												cursor:pointer;
												width:60px;
												}

.UIComposer_Box {
	background-color:#DDD;
	border-color:#919191 #B5B5B5 #CBCBCB;
	border-top:2px solid #919191;
	padding:7px 0 0px;
	height:102px;
}

a#link{
	color:#3B5998;
	font-weight:bolder;
}
.commentBox {
	width:350px;
	padding:3px; 
	background:#ECEFF5;
	margin-left:18px;
	margin-top:3px;
	}
.noteBox{
	width:350px;
	padding:3px; 
	background:#ECEFF5;
	margin-left:18px;
	
	}
.commentPanel, .notePanel {width:350px; padding:3px; background:#ECEFF5; margin-left:18px; margin-top:3px;}
textarea.commentMark, textarea.noteMark {height:50px !important;}
.commentBox textarea, .noteBox textarea {height:50px !important; margin-bottom:5px;}
.postedComments, .postedNotes {float:left; margin-left:6px; width:290px; text-align:justify; font-size:.75em; color:#333;}
.commentMark, .noteMark { float:left; width:300px; margin-left:5px;font-size:11px; border:1px solid #c0c0c0;}
a.c_delete{color:#3B5998; font-size:.7em;}

.friends_area, .notes_area{
    width:500px;
	vertical-align:top;
    min-height:60px;
	padding-bottom:12px;
	padding-top:10px;
    border-bottom: #E6E6FA solid 1px;
    }
.top_area{
	background:#627AAD;
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;
	padding:6px 6px 6px 12px;		
}
.name b{
	font-size:14px;
	color:#3B5998;
	cursor:pointer;
	}
.name{
	font-size:14px;
	color:#333;
	width:350px;
	text-align:left;
	padding-left:9px;
	}
a.delete{
	float:left;
	color:#666666;
	display:block;
	padding:5px;
	text-decoration:none;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	color:#333333;
	cursor:pointer;
	display:none;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	white-space:nowrap;
}
a.delete:hover{
	opacity:1;filter:alpha(opacity = 100);-ms-filter:'alpha(opacity = 100)';
	border:solid #B1B1B1 1px;
	background:#EEEEEE;
	padding:5px;
	}
.name a{
	color:#3B5998;
	font-size:11px;
	margin:3px 3px 3px 0;
}
.name em{
	color:#333;
	font-style:normal;
	width:110px;
	font-size:11px;
}
.name span{
	color:#777777;
	font-size:11px;
}
.commentPanel .likes {
font-size:.75em;
color:#333;
}



/* CSS for event module */
#events .show_event, #projLeader .show_lead{ margin-bottom:10px;}
#events #EventBox, #projLeader #LeadBox {
	display:none;
}
#projLeader .show_lead img {margin:0;padding:0;}
#events a.remove, #projLeader a.gl_remove {
	color:#5B74A8;
	font-weight:bolder;
	font-size:14px;
	float:left;
	text-decoration:none;
}
#events .text {
	color:#666;
	width:168px;
	text-align:left;
	padding-left:7px;
}
#projLeader .text {width:150px;color:#666;text-align:left;padding-left:7px;}
#events .text b, #projLeader .text b{
	color:#5B74A8;
}

#projLeader img {
	float:left;
}
#events #EventInput, #projLeader #pl_user {
	border:1px solid #BDC7D8;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	padding:3px;
	width:204px;
}
#events #Where{
	border:1px solid #BDC7D8;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	padding:3px;
	width:204px;
}
#events #WhoInvited{
	border:1px solid #BDC7D8;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	padding:3px;
	width:204px;
}
#events h4, #projLeader h4 {
	color:#333333;
	font-size:11px;
	float:left;
	width:198px;
}
#events a.cancel, #projLeader a.pl_cancel {
	width:40px;
	display:block;
	color:#5B74A8;
	font-size:11px;
	display:none;
	float:left;
	text-decoration:none;
}
#events a.cancel:hover, #projLeader a.pl_cancel:hover {
	text-decoration:underline
}
#events #datepicker{
	background:url("../../images/calendar.jpg") no-repeat scroll right 50% transparent;
	width:112px;
	height:15px;
	border:1px solid #BDC7D8;
	color:#3B5998;
	cursor:pointer;
	padding:3px;
	font-size:11px;
	margin-right:2px;
	float:left;
}
#events #start_time_min{
	float:left;
	margin:1px 0px 0px 0px;
	padding:1px;
}
#events .button, #events .button:visited, #projLeader .button, #projLeader .button:visited {
	display: inline-block; 
	color: #fff; 
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	cursor: pointer
}
#events .small.button, #events .small.button:visited, #projLeader .small.button, #projLeader .small.button:visited {font-size: 14px;}
#events .button:hover, #projLeader .button:hover { background-color: #111; color: #fff; }
#events .button:active, #projLeader .button:active { top: 1px; }
#events .button, #events .button:visited,
#events .blue, #projLeader .button, #projLeader .button:visited, 
#projLeader .blue { background-color: #E0E0E0;color:#fff; font-size:14px;  cursor:auto; padding:3px;}

#events .comment.button, #events .comment.button:visited, #projLeader .comment.button, #projLeader .comment.button:visited 
										{ 
										font-weight:bold;
										background-color:#5B74A8;
										font-size: 12px;
										border-color:#29447E #29447E #1A356E;
										text-align:center;
										margin-bottom:3px;
										margin-top:3px;
										margin-right:4px;										
										font-weight:bold;
										color:#FFFFFF;
										cursor:pointer;
										width:85px;
										}
#events #watermark, #projLeader #watermark { padding:6px;}
.commentPanel .ViewComments, .notePanel .ViewComments {font-size:.8em;}


/* Middle Section of these pages: */
#mainLeft #middle {
float:left;
clear:both;
color:#333;
font-size:.8em;
text-align:left;
margin-bottom:160px;
width:500px;
}

#mainLeft #middle span {
font-size:.8em;
}

#mainLeft #middle .forminput {
	border:1px solid #BDC7D8;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	padding:3px;
	width:280px;
	}
	
#mainLeft #middle .submit {
margin:5px 0 0;
	}
	
#mainLeft #middle th {
vertical-align:middle;
font-weight:bold;
width:90px;
}

#mainLeft #directory td, #mainLeft #groups td, #mainLeft #group-directory td { 
	width:290px;
	}

#mainLeft tr#directory, #mainLeft tr#groups, #mainLeft tr#group-directory {
margin:30px 0;
}

#mainLeft #middle textarea {
height:100px !important;
}

#mainLeft #middle .forum {
background-color:#CCFFCC;
padding:10px;
}

#mainLeft #middle h2 {
font-size:1.2em;
margin:0 0 20px 0;
}

#mainLeft #middle p {
padding:0 0 8px;
}

#mainLeft #middle ul {
padding-left:30px;
}

#mainLeft #middle li {
/*list-style:none;*/
}

#mainLeft #middle .sermon-info {border:1px solid #c0c0c0; background:#DDD; padding:10px 0px; text-align:center; width:5%; margin-bottom:10px;}
#mainLeft #middle .sermons {border-bottom:1px solid #c0c0c0; margin-bottom:25px;}

#notes ul {font-size:.9em;}
textarea#note {width:400px !important; margin-left:18px;}
#notes li {list-style:none; margin:0; padding:0;}
li.noteBox .avatar {float:left; padding-right:8px; margin-bottom:5px;}
li.noteBox {margin-bottom:5px; padding:5px; min-height:30px;}
#note-form .n-submit {margin:5px 0 0 18px;}

#directory, #groups, #group-directory {width:504px;}
#directory td, #directory th, #groups td, #groups th, #group-directory td, #group-directory th {border-bottom:1px solid #BCD2E6;}
#directory td, #groups td, #group-directory td {padding:4px 40px 4px 0;}
#directory td:last-child, #groups td:last-child, #group-directory td:last-child {padding-right:0;}
	
/* Tabs for edit profile pages and pms. */
#tabs {
	float:left;
	clear:both;
	width:100%;
	background:#F4F7FB;
	font-size:93% !important;
	line-height:normal;
	border-bottom:1px solid #BCD2E6;
	margin-bottom:10px;
	}
#tabs ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	}
#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}
#tabs a {
	float:left;
	background:url("../../images/tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}
#tabs a span {
	float:left;
	display:block;
	background:url("../../images/tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#627EB7;
	text-decoration:none;
	}
	
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}
#tabs .active_link span {float:none;}
/* End IE5-Mac hack */
#tabs a:hover span {
	color:#627EB7;
	text-decoration:none;
	}
#tabs a:hover {
	background-position:0% -42px;
	text-decoration:none;
	}
#tabs a:hover span {
	background-position:100% -42px;
	text-decoration:none;
	}
#tabs li.active_link a {
	background-position:0% -42px;
	text-decoration:none;
	}
#tabs li.active_link a span {
	background-position:100% -42px;
	text-decoration:none;
	}


/* User Search Box */
#headerRight #searchbox {
border:solid 1px #29447E;
padding:3px;
}

#headerRight #display {
width:250px;
position:absolute;
display:none;
float:right;
margin-right:30px;
border-left:solid 1px #dedede;
border-right:solid 1px #dedede;
border-bottom:solid 1px #dedede;
overflow:hidden;
}

#headerRight .display_box {
padding:4px; 
border-top:solid 1px #dedede; 
font-size:12px; 
height:30px;
background:#E5E5E5;
color:#3b5998 !important;
font-weight:bold;
}
#headerRight .display_box:hover {
background:#3b5998;
color:#FFFFFF !important;
}


/* News Section */
#middle .news h2 {
text-align:center;
border-bottom:1px solid #c0c0c0;
}
#middle .news .date {
font-size:.95em !important;
}
#middle .news p {
padding:5px 0 0 0;
}

/*PMS System Style Sheet*/
#compose {
float:left;
clear:both;
width:300px;
margin-left:10px;
}

#compose form {
margin:0;
padding:0;
}

#compose fieldset {
width:490px;
border:none;
font:normal 1em 'lucida grande', tahoma, verdana, arial, sans-serif;
margin:0 0 10px;
padding:5px;
}

#compose fieldset dd {
width:358px;
margin:0;
padding:5px;
}

#compose fieldset dt {
float:left;
width:140px;
padding:5px;
}

#compose #username,#compose #subject,#compose #message {
width:196px;
border:3px double #DCDCDC;
}

#compose th {
vertical-align:middle;
font-weight:700;
}

#compose table {
border:1px normal #DDD;
text-align:center;
margin-left:0;
}

#compose tbody tr {
text-align:left;
}

#compose tbody tr.odd {
background:#f9f9f9;
border-top:1px solid #FFF;
}

#compose tbody tr td {
border:1px solid #FFF;
}

#compose tbody tr.odd td {
border-top:1px solid #FFF;
}

#pms #sub_button,#compose #sub_button {
margin-left:5px;
}

#pms td,#pms th {
border-bottom:1px solid #BCD2E6;
}

#pms td {
vertical-align:middle;
padding:2px 0;
}

#pms fieldset {
border:none;
font:normal 1em 'lucida grande', tahoma, verdana, arial, sans-serif;
margin:0 0 10px;
padding:5px;
}

#pms fieldset dd {
width:450px;
margin:0;
padding:5px;
}

#pms fieldset dt {
float:left;
width:150px;
padding:5px;
}

#pms #username,#pms #subject,#pms #message {
width:280px;
border:3px double #DCDCDC;
}

#compose fieldset dl,#pms fieldset dl {
padding-bottom:15px;
border:1px solid #666;
background:#F7F7F7;
}

#compose legend,#pms legend {
background:#F7F7F7;
font-weight:700;
border-color:#FFF #AAA #666 #FFF;
border-style:solid;
border-width:1px;
margin:0;
padding:5px;
}

#compose label,#pms label {
font-weight:700;
}


/* Middle admin section: */
#mainLeft #reporting {
float:left;
clear:both;
color:#333;
font-size:.8em;
text-align:left;
margin-bottom:160px;
/*width:500px;*/
width:730px;
}

#mainLeft #reporting span {
font-size:.8em;
}

#mainLeft #reporting .forminput {
	border:1px solid #BDC7D8;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	padding:3px;
	width:280px;
	}
	
#mainLeft #reporting .submit {
margin:5px 0 0;
	}
	
#mainLeft #reporting th {
vertical-align:middle;
font-weight:bold;
width:90px;
}

#mainLeft #reporting textarea {
height:100px !important;
}

#mainLeft #reporting .forum {background-color:#CCFFCC;padding:10px;}

#mainLeft textarea#a_answer,#mainLeft textarea#gfp_post {width:495px !important;}
#mainLeft .forum .forum-topic {padding-bottom:10px;}
#mainLeft .forum .forum-signature {border-top:1px solid #c0c0c0;padding-top:10px;}
#mainLeft .forum .forum-signature img {padding-right:10px;vertical-align:top;}
#mainLeft .forum .forum-signature .avatar {float:left;padding-right:10px;}
#mainLeft .forum .forum-signature .signature {float:left;}
#mainLeft table.forum-1 {margin-bottom:15px;}

#mainLeft #reporting h2 {
font-size:1.2em;
margin:0 0 20px 0;
}

#mainLeft #reporting p {
padding:0 0 8px;
}

#mainLeft #reporting li {
list-style:none;
margin:0 0 0 10px;
display:block;
}

#mainLeft #reporting textarea#manual_query {
height:250px !important;
}


#mainLeft #middle #mod-nav ul {
padding:20px 0;
}

#mainLeft #middle #mod-nav img {
padding-right:5px;
vertical-align:top;
}

#mainLeft #middle #mod-nav li {
display:inline;
}

#mainLeft #middle #mod-nav li.plugins {
display:block;
}

#mainLeft #middle #mod-nav a {
padding:10px 5px;
background:#E6E6FA;
}

#mainLeft #middle #mod-nav a:hover {
text-decoration:none;
background:#BCD2EE;
color:#3D3D3D;
}

#mainLeft #mod-nav h3 {
text-decoration:underline;
font-size:1em;
}

#mainLeft #middle #info p {
margin-bottom:15px;
}

#mainLeft #middle #info img {
padding-right:5px;
}

#mainLeft #middle #info h3 {
margin-bottom:3px;
color:#3b5998;
}

blockquote {
	margin: 1em 3em;
	padding: .5em 1em;
	border-left: 5px solid #fce27c;
	background-color: #f6ebc1;
}
#groups .join,#groups .leave {font-size:1.25em;}
#groups .e-group a {padding-right:50px;}
#groups-page, #info-page {font-size:1em;}
#groups-page span.list-name, #info-page span.list-name {font-size:1.1em !important;color:#808080 !important;font-weight:bold !important;}
#groups-page th, #info-page th {padding-right:25px;}
#groups-page tr.list td, #groups-page tr.list th, #info-page tr.list td, #info-page tr.list th { border-bottom:10px solid #FFF; }
#groups-page row, #info-page row {margin-right:10px;}
#groups-page #location, #user-type, #info-page #location {margin-top:20px;margin-bottom:30px;width:504px;text-align:center !important;background:#333 url(../images/llsh.gif) repeat-x;color:#fff;font-weight:bold;font-size:1.2em;height:20px;}
#groups-page #group-map, #info-page #info-map {width:504px;height:480px;}

/* Group list members */
#g-contact .uiButtonLarge{
               padding:2px 6px;
}
#g-contact input{
               font-size:13px;
}
#g-contact a#link{
	font-family:Arial, Helvetica, sans-serif;
	color:#3B5998;
	font-weight:bolder;
}
#g-contact .uiButtonConfirm{
               background-color:#5B74A8;
               background-position:0 -48px;
               border-color:#29447E #29447E #1A356E;
               font-weight:bold;
               color:#FFFFFF;
}
.g-contact-list{
    width:500px;
	padding:5px;
    height:50px;
    border-bottom: #999999 solid 1px;
    }
#g-contact .top_area{
	background:#627AAD;
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;
	padding:6px 6px 6px 12px;
}
#g-contact.name b{
	font-size:14px;
	color:#3B5998;
	cursor:pointer;
	}
#g-contact.name{
	font-size:14px;
	color:#666;
	padding:8px;
	}
#g-contact #search_area{
	background:#F2F2F2 none repeat scroll 0 0;
	width:515px;
	padding:5px;
	height:30px;
}

/* Syling the avatars for different pages. */
#avatar .avatar {width:50px !important;height:50px !important;}
.friends_area .avatar, .notes_area .avatar {width:40px !important;height:40px !important;}
.commentBox .avatar, .commentPanel .avatar, .noteBox .avatar, .notePanel .avatar {width:30px !important;height:30px !important;}
#directory .avatar, #group-directory .avatar {width:43px !important;height:43px !important;}
#mainRightSidebar #avatar .avatar {width:80px !important;height:80px !important;}
.show_lead .avatar {width:40px !important;height:40px !important;}
.forum .avatar {width:35px !important;height:35px !important;}
.display_box .avatar {margin-right:6px;float:left;}

pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -o-pre-wrap;
 background: #faf8f0;
}

/* Middle Section of plugins page: */
#mainLeft #plugins {
float:left;
clear:both;
color:#333;
text-align:left;
margin-bottom:160px;
width:740px;
}

#mainLeft #plugins .forminput {
	border:1px solid #BDC7D8;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	padding:3px;
	width:280px;
	}
	
#mainLeft #plugins .submit {
margin:5px 0 0;
}

#plugins a, #plugins a:visited, #plugins a:active {
	text-decoration:none;
}

#plugins a:hover {
	color:#8B0000;
	text-decoration:none;
}

 #plugins h2,  #plugins thead {
	font-family:Arial, sans-serif;
	color:#333;
}

 #plugins table {
	width:100%;
	border:1px solid #AAA;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	font-family:Arial, sans-serif;
}

 #plugins th {
	text-align:left;
	background-color:#EEE;
	padding:5px 0;
}

 #plugins td {
	border-bottom:1px solid #AAA;
	padding:15px 10px 15px 10px;
	margin:0;
}
 #plugins tr:hover {
	background-color:#EEE;
}
 #plugins tr.activated{
	background-color:#e7fad9;
}

.space {
	margin-top:10px;
	margin-bottom:10px;
}

/* File Storage CSS */
div#container {
	width: 600px;
	margin: 0px auto;
	border: 1px solid #e6eef6;
	background-color: #cddcec;
	font-size: 14px;
}

div#container h1 {
	background-color: #4b75b3;
	margin: 0px;
	padding: 8px;
	font-family: "Arial";
	font-weight: normal;
	border: 1px solid #3564a9;
}

div#container fieldset {
	margin: 20px;
	border: 1px solid #98b9d0;
	padding:8px;
}

ul#menu {
	list-style-type: none;
	margin: 4px;
	padding: 0px;
}

ul#menu li {
	float: left;
	margin: 4px;
}

ul#menu li.active {
	background-color: #98b9d0;
	border-left: 1px solid #3564a9;
	border-top: 1px solid #3564a9;
	border-bottom: 1px solid #e6eef6;
	border-right: 1px solid #e6eef6;
}

ul#menu li a {
	text-decoration: none;
	font-size: 10px;
	padding: 2px;
	color: #3564a9;
}

ul#files {
	list-style-type: none;
	margin: 40px 0px 0px 0px;
	padding: 0px;
}

ul#files li {
	background-color: #fff7c0;
	border-bottom: 1px solid #efefef;
	padding: 2px;
	margin-bottom: 1px;
}

ul#files li a {
	text-decoration: none;
	color: #3564a9;
	padding: 2px 25px;
	background-position: left;
	background-repeat: no-repeat;
}

ul#files li.Documents a {
	background-image: url('../../images/text.jpg');
}

ul#files li.Images a {
	background-image: url('../../images/picture.jpg');
}

ul#files li.Applications a {
	background-image: url('../../images/zip.jpg');
}

p.error {
	background-color: #fff7c0;
	border-bottom: 1px solid #efefef;
	font-weight: bold;
	color: #ff0000;
	padding: 6px;
}
