/*
Copyright (c) 2003-2011, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

body
{
	/* Font */
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;

	/* Text color */
	color: #222;

	/* Remove the background color to make it transparent */
	background-color: #fff;
}
p{
    margin: 0px !important;
    padding: 0px !important;
}
ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right:0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
    padding:0 40px;
}

/*________________________________________________________________________________________________________*/
.home_table {width: 650px ;height: 260px; margin-bottom: 10px; border: 0px solid black; }

.home_table tr td{  width: 305px;

                    border: 0px solid black;
                    vertical-align: top;
                }
.home_table  tr td.width_ten {width: 10px;}


.home_table table {height:100%;  padding: 0px;}

.home_table table tr td  { height:100%; vertical-align: top;  padding: 2px 5px;}
.home_table table tr td p{margin: 0px; padding: 0px;}


.inter {height: 200px;  }
.first {height: 30px;  border-radius: 0px 0px 7px 7px;}
.last  {height: 30px;  }


.home_table tr td.home_child_o .inter { background-color: #E5EFF4; color: #002D4E;}
.home_table tr td.home_child   .inter { background-color: #F6F6F6; color:#333;}

.home_table tr td.home_child_o .last { background-color: #E5EFF4;  color: #364b70;}
.home_table tr td.home_child   .last { background-color: #F6F6F6;  color: #595959;}

.home_table tr td.home_child_o .first { background-color: #D7E8F8; color: #002D4E;}
.home_table tr td.home_child   .first { background-color: #d1d7db; color: #333333;}



